{{!-- OLD HTML HERE<label class="category">
  <input type="radio" name="category" value="{{>title}}" hidden>
  <div class="icon-container">
    <img src="/images/icons/categories/{{>icon_name}}.png" class="category-icon" />
  </div>
  <div class="category-info">
    <center>
      <h3 class="category-title">{{>title}}</h3>
    </center>
    <p class="category-description">{{>description}}</p>
    <p class="category-prizes">{{>prizes}}</p>
  </div>
</label> --}}

<div class="item splide__slide">
  {{!-- <img src="/images/v2-winners/{{> image }}" alt="{{> name }}" class="fullsize" loading="lazy"> --}}
  <img src="/images/icons/categories/{{>icon_name}}.png" class="category-icon" width="60" height="60"/>
  <div class="info">
    <h3>
      {{> title}}
    </h3>
    <p class="category-description">{{> description }}</p>
    <p class="category-prizes">{{> prizes }}</p>
  </div>
</div>

