<label class="category">
  <input type="radio" name="category" value="{{>title}}" hidden>
  <div class="icon-container">
    <img src="/images/icons/{{>icon_name}}.png" class="category-icon" />
  </div>
  <div class="category-info">
    <center>
      <h3 class="category-title">{{>title}}</h3>
    </center>
    <p class="category-description">{{>description}}</p>
    <p class="category-prizes">{{>prizes}}</p>
  </div>
</label>
