<footer>
  <div class="flex">
    <a href="mailto:team@treasurehacks.org" class="link">team@treasurehacks.org</a>
    <div class="bottom-links">
      <a class="link smallscreen" href="mailto:team@treasurehacks.org"><img src="/images/contact_icons/email.png" alt="email"/></a>
      <a class="link" target="_blank" href="https://www.linkedin.com/company/treasure-hacks/about/?viewAsMember=true"><img src="/images/contact_icons/linkedin.png" alt="linkedin logo"/></a>
      <div class="smallscreen-divider"></div>
      <a class="link" target="_blank" href="https://api.treasurehacks.org/links/discord"><img src="/images/contact_icons/discord.png" alt="discord logo"/></a>
      <a class="link" target="_blank" href="https://www.instagram.com/treasure_hacks/"><img src="/images/contact_icons/instagram.png" alt="instagram logo"/></a>
    </div>
  </div>
</footer>
