<a id="mlh-trust-badge"
  href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=black"
  target="_blank"
>
  <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-black.svg"
    alt="Major League Hacking 2022 Hackathon Season" style="width:100%">
</a>
<header class="header">
  <div class="navbar" id="navigation">
    <a href="/">
      <img alt="Treasure Hacks Logo" class="logo logo-large" src="/logos/header_white.png">
    </a>
    <i class="fa fa-bars hamburger fa-lg" id="hamburger"></i>
    <div class="menu-items">
    <!--<div class = "menu-item">Previous Winners</div>-->
      <a class="menu-item" href="/schedule.html">Schedule</a>
      <a class="menu-item" href="/team.html">Team</a>
      <a class="menu-item" href="/previous/">Past Events</a>
      <a class="menu-item" target="_blank" href="/sponsorship-information.pdf">Sponsor Us</a>
      <a class="menu-item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScP4YAwRzaanWJSuK_AQ15MQKgPJCZCl8ZaGcfRzG6gZ4yUUA/viewform">Register</a>
      <a class="menu-item" target="_blank" href="https://bank.hackclub.com/donations/start/treasure-hacks">Donate</a>
    </div>
  </div>
</header>

<nav id="menu-on-small">
  <a href="/schedule.html" class="menu-item">Schedule</a>
  <a href="/team.html" class="menu-item">Team</a>
  <a class="menu-item" href="/previous/">Past Events</a>
  <a href="/sponsorship-information.pdf" class="menu-item">Sponsor Us</a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScP4YAwRzaanWJSuK_AQ15MQKgPJCZCl8ZaGcfRzG6gZ4yUUA/viewform" class="menu-item">Register</a>
  <a href="https://bank.hackclub.com/donations/start/treasure-hacks" class="menu-item">Donate</a>
</nav>
