<header class="header">
  <div class="navbar" id="navigation">
    <a href="/">
      <img alt="Treasure Hacks Logo" class="logo logo-large" src="/logos/header_white.png">
    </a>
    <i class="fa fa-bars hamburger fa-lg" id="hamburger"></i>
    <div class="menu-items">
      <a class="menu-item" href="/schedule/">Schedule</a>
      <div class="dropdown-container">
        <span class="menu-item">Past Events</span>
        <div class="nav-dropdown menu-items">
          <a href="/previous/v2.html" class="menu-item">Treasure Hacks 2.0</a>
          <a href="/previous/v1.html" class="menu-item">Treasure Hacks 1.0</a>
        </div>
      </div>
      <a class="menu-item" target="_blank" href="/sponsorship-information.pdf">Sponsor Us</a>
      <a class="menu-item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScf8FX5Ue5NTOcNHBVm3N7eEXjR3pUZadA9wArRK12y875jTw/viewform">Register</a>
      <a class="menu-item" target="_blank" href="https://bank.hackclub.com/donations/start/treasure-hacks">Donate</a>
    </div>
  </div>
</header>

<nav id="menu-on-small">
  <a href="/schedule/" class="menu-item">Schedule</a>
  <div class="dropdown-container menu-item">
    <span>Past Events</span>
    <div class="nav-dropdown">
      <a href="/previous/v2.html" class="menu-item">Treasure Hacks 2.0</a>
      <a href="/previous/v1.html" class="menu-item">Treasure Hacks 1.0</a>
    </div>
  </div>
  <a href="/sponsorship-information.pdf" class="menu-item">Sponsor Us</a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScf8FX5Ue5NTOcNHBVm3N7eEXjR3pUZadA9wArRK12y875jTw/viewform" class="menu-item">Register</a>
  <a href="https://bank.hackclub.com/donations/start/treasure-hacks" class="menu-item">Donate</a>
</nav>

