<header class="header">
  <div class="navbar" id="navigation">
    <a href="/">
      <img alt="Treasure Hacks Logo" class="logo logo-large" src="/logos/header_white.png">
    </a>
    <i class="fa fa-bars hamburger fa-lg" id="hamburger"></i>
    <div class="menu-items">
    <!--<div class = "menu-item">Previous Winners</div>-->
      <a class="menu-item" href="/schedule.html">Schedule</a>
      <a class="menu-item" href="/team.html">Team</a>
      <a class="menu-item" href="/previous.html">Past Events</a>
      <a class="menu-item" target="_blank" href="/sponsorship-information.pdf">Sponsor Us</a>
      <a class="menu-item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScP4YAwRzaanWJSuK_AQ15MQKgPJCZCl8ZaGcfRzG6gZ4yUUA/viewform">Register</a>
      <a class="menu-item" target="_blank" href="https://bank.hackclub.com/donations/start/treasure-hacks">Donate</a>
    </div>
  </div>
</header>

<nav id="menu-on-small">
  <a href="/schedule.html" class="menu-item">Schedule</a>
  <a href="/team.html" class="menu-item">Team</a>
  <a class="menu-item" href="../views/previous/index.html">Past Events</a>
  <a href="/sponsorship-information.pdf" class="menu-item">Sponsor Us</a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScP4YAwRzaanWJSuK_AQ15MQKgPJCZCl8ZaGcfRzG6gZ4yUUA/viewform" class="menu-item">Register</a>
  <a href="https://bank.hackclub.com/donations/start/treasure-hacks" class="menu-item">Donate</a>
</nav>
