<div class="item">
  <img src="/images/v2-winners/{{> image }}" alt="{{> name }}" class="fullsize" loading="lazy">
  {{> icon }}
  <div class="info">
    <h3><a class="blue-link" target="_blank" href="{{> link }}">{{> name }}</a>
    by {{> authors }}</h3>
    <p>{{> description }}</p>
  </div>
</div>