<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register for Treasure Hacks 3.5</title>
  <link rel="stylesheet" href="style.css">
  {{> site_icons }}
  <script defer src="script.js"></script>
</head>
<body>
  <form action="{{REGISTRATION_SUBMISSION_URL}}" method="POST" enctype="multipart/form-data">
    <div class="item-container header-image-container"><img src="/images/banner.jpg" alt="Treasure Hacks Banner" width="640" height="160"></div>
    <div class="item-container header">
      <h1>Treasure Hacks 3.5 Registration</h1>
    </div>
    {{> form_question
        title="First Name"
        description=""
        input_type="text"
        input_name="first_name"
        placeholder="First name"
        textarea=false
        required=true
    }}
    {{> form_question
        title="Last Name"
        description=""
        input_type="text"
        input_name="last_name"
        placeholder="Last name"
        textarea=false
        required=true
    }}
    {{> form_question
        title="Email Address"
        description=""
        input_type="email"
        input_name="email"
        placeholder="someone@example.com"
        textarea=false
        required=true
    }}
    {{> form_question
        title="Discord Tag"
        description="Enter a valid Discord Tag (i.e. YellowFellow#3448)"
        input_type="text"
        input_name="discord_tag"
        placeholder="YellowFellow#3448"
        pattern=".{2,}#\d{4}"
        textarea=false
        required=true
        custom_validation="user_in_server"
    }}
    {{> form_question
        title="Where did you hear about us?"
        description=""
        input_name="referral"
        checkbox=true
        options='[
          {"value":"student", "text": "Another student"},
          {"value":"discord", "text": "Discord"},
          {"value":"school", "text": "School announcement, club, or flier"},
          {"value":"coding_organization", "text": "Through an coding organization/community"},
          {"value":"social_media", "text": "Social Media"},
          {"value":"mlh", "text": "MLH"},
          {"value":"devpost", "text": "Devpost"}
        ]'
        other=true
    }}
    {{> form_question
        title="How comfortable are you with programming?"
        description="(1 being uncomfortable and 10 being comfortable)"
        input_type="number" number=true
        input_name="comfort_level"
        placeholder="Enter a number"
        min="1"
        max="10"
        textarea=false
        required=true
    }}
    {{#>form_question
        title="Frequently Asked Questions"
        custom=true
    }}
      {{#*inline "content"}}
      <ul id="form-faq-list">
        <li>Can I join even though I have no experience in coding?<ul>
          <li>Yes, and we provide resources specifically for those who are new to programming</li>
        </ul></li>

        <li>Does it cost money?<ul>
          <li>No</li>
        </ul></li>

        <li>Who receives swag and prizes?<ul>
          <li>Anyone who turns in a non-empty project to Devpost</li>
        </ul></li>

        <li>What is the Theme?<ul>
          <li>AI and Blockchain</li>
        </ul></li>

        <li>Where will we be turning in projects?<ul>
          <li>Devpost (link will be in the discord)</li>
          <li>You will need a short description and your code on GitHub.</li>
          <li>A video is not strictly required, but will help significantly with your project’s scoring</li>
        </ul></li>

        <li>When can we start coding?<ul>
          <li>When the events starts; any use of premade or previously-created code is not allowed.</li>
          <li>Packages, APIs, and open-source code libraries are allowed.</li>
          <li>If you are unsure about sometime, ask in the #questions chat in discord</li>
        </ul></li>

        <li>What coding language can I use?<ul>
          <li>Any language is fine</li>
        </ul></li>

        <li>Can we submit our project to multiple hackathons?<ul>
          <li>Yes, but for our hackathon, you can only work on it during our hacking period</li>
        </ul></li>

        <li>What do I do once I find my team?<ul>
          <li>Once you have your team together, sign up on the devpost</li>
        </ul></li>
      </ul>
      {{/inline}}
    {{/form_question}}
    {{> form_question
        title="Please agree to all of the following"
        description=""
        input_name="agreements"
        checkbox=true
        options='[
          {"value":"student","text":"I understand that I <b>MUST NOT</b> start creating my project before the opening ceremony"},
          {"value":"discord","text":"I understand that if I break any of the rules listed in the Discord, I will be disqualified."},
          {"value":"multiple","text":"I understand that if I submit a project to multiple hackathons, including Treasure Hacks, it must be created during our hacking period."}
        ]'
    }}
    <div class="item-container header-image-container">
      <picture>
        <source srcset="/images/registration/mlh_dark.png" media="(prefers-color-scheme: dark)">
        <img src="/images/registration/mlh_light.png" alt="MLH Logo Light" width="640" height="160">
      </picture>
    </div>
    {{> form_question
        title="Age"
        description="MLH needs this data for eligibility purposes, as some codes are only available to hackers 18+"
        input_type="number" number=true
        input_name="age"
        placeholder="Age"
        textarea=false
        required=true
    }}
    {{> form_question
        title="Country of Residence"
        description=""
        input_type="text"
        input_name="country"
        placeholder="United States"
        textarea=false
        required=true
        autofill="iso_countries"
    }}
    {{> form_question
        title="Current School or Institution"
        description=""
        input_type="text"
        input_name="current_school"
        placeholder="Your school"
        textarea=false
        required=true
        autofill="mlh_schools"
    }}
    {{> form_question
        title="Please confirm all of the following."
        description=""
        input_name="agreements"
        checkbox=true
        options='[
          {"value":"mlh_conduct","text":"I have read and agree to the <a href=\"https://static.mlh.io/docs/mlh-code-of-conduct.pdf\">MLH Code of Conduct</a>"},
          {"value":"mlh_data","text":"I authorize you to share my application/registration information with Major League Hacking for event administration, ranking, and MLH administration in-line with the MLH Privacy Policy. I further agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy."}
        ]'
    }}
    {{> form_question
        title="Current/Highest Level of Education"
        description=""
        radio=true
        input_name="edu_level"
        required="true"
        options='[
          "Less than Secondary / High School",
          "Secondary / High School",
          "Undergraduate University (2 year - community college or similar)",
          "Undergraduate University (3+ year)",
          "Graduate University (Masters, Professional, Doctoral, etc.)",
          "Code School / Bootcamp",
          "Other Vocational / Trade Program or Apprenticeship",
          "Post Doctorate",
          "I\'m currently not a student"
        ]'
    }}
    {{> form_question
        title="I authorize MLH to send me pre- and post-event informational emails, which contain free credit and opportunities from their partners. (Optional)"
        description=""
        radio=true
        input_name="mlh_emails"
        options='[
          {"text":"I accept","value":"1"},
          {"text":"I do not accept","value":"0"}
        ]'
        required="true"
    }}
    <div class="item-container header-image-container">
      <picture>
        <img src="/images/registration/sponsors.png" alt="MLH Logo Light" width="640" height="160">
      </picture>
    </div>
    {{> form_question
        title="(If you are under 18, your guardian must agree) I agree to have the following resume and LinkedIn shared with interested sponsors for potential opportunities"
        description=""
        radio=true
        input_name="sponsor_allow_data"
        options='[
          {"id":"data_allowed","text":"Yes","value":"1"},
          {"text":"No","value":"0"}
        ]'
        required="true"
        jstype="boolean"
    }}
    {{> form_question
        title="Your resume"
        description=""
        file=true
        input_name="resume"
        accept=".pdf, .docx, .doc"
        show_if="data_allowed"
        require_if="data_allowed"
    }}
    {{> form_question
        title="Link to Your LinkedIn Profile"
        description=""
        input_type="url"
        input_name="linkedin"
        placeholder="https://www.linkedin.com/in/treasure_hacks"
        show_if="data_allowed"
        require_if="data_allowed"
    }}
    <input type="hidden" id="referrer-input" name="referrer">
    
    <input type="submit" value="Submit">
  </form>
</body>
</html>