<html>
	<head>
    <meta name="robots" content="index, follow">
		<link rel="stylesheet" href="style.css">
		<meta charset="UTF-8">
		<meta name="description" content="Treasure Hacks is a recurring hackathon dedicated to creating a place where computer-science students throughout the nation can gain skills and forge personal connections.">
		<title>Team - TreasureHacks Hackathon</title>
    <meta name="theme-color" content="#111">
		{{> site_icons }}
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{{> navigation_header }}
		<div class="wrapper"> <!-- wrapper div starts -->
			<div class="padder"></div>
			<div class="main-content">

				<!-- <center><div class="padder"></div><h1>Our Team</h1></center> -->
				<div class="section" style="min-height: 100px;">
					<div class="padder"></div>
					<center><h1>Our Team</h1></center>
				</div>

				<hr/>
				<center><h2>Founders</h2></center>
				<div class="flex names-container-team">
					<div>
						<img class="person" src="/images/people/brandon-joe.jpg"/>
						<h3>Brandon Joe</h3>
						<h4>President/Lead</h4>
						<p>Hi there, I'm Brandon Joe, a senior at Tesoro High School. My interest in computer science started as a young kid when I started creating broken games during summer camps and block programming projects on Scratch. However, this interest evolved into proficiency in several coding languages along with leadership in many stem-based organizations.</p>
					</div>
					<div>
						<img class="person" src="/images/people/ethan-kosaki.jpg"/>
						<h3>Ethan Kosaki</h3>
						<h4>Vice President/Operations</h4>
						<p>Hi, I'm Ethan Kosaki. I enjoy using programming in creative ways to solve different problems. Through TreasureHacks, I want to create a community for computer science students around the world. Treasure Hacks is my way to spread a love of programming with other high school students.</p>
					</div>
					<div>
						<img class="person" src="/images/people/ethan-wang.jpg"/>
						<h3>Ethan Wang</h3>
						<h4>Treasurer/Technology</h4>
						<p>Hello, I'm Ethan Wang. I have always been intrigued about how things work, and I enjoy creating games. My passion for computer science has allowed me to win the sponsorship award at a local hackathon, as well as land an internship at Hopscotch Technologies.</p>
					</div>
					<div>
						<img class="person" src="/images/people/daniel-kim.jpg"/>
						<h3>Daniel Kim</h3>
						<h4>Publicity/Social Media</h4>
						<p>My name is Daniel Kim, and I have worked in various leadership positions inside and outside of my high school. As a cofounder of a volunteer organization, I worked vigorously on outreach and curriculum development, while being the vice president of Tesoro NHS allowed me to develop communication and management skills. Through Treasure Hacks, I hope to continue to disseminate the pedagogical uses of technology.</p>
					</div>
				</div>
			  <hr/>
			</div>
		{{> footer }}
		<script src="main.js"></script>
	</body>
</html>
