<html>
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description"
    content="Treasure Hacks is a recurring hackathon dedicated to creating a place where computer-science students throughout the nation can gain skills and forge personal connections.">
  <title>Treasure Hacks Hackathon</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/css/splide-core.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/css/themes/splide-skyblue.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.2/dist/js/splide-extension-auto-scroll.min.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  {{> navigation_header }}
  <a id="mlh-trust-badge"
    href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2023-season&utm_content=black"
    target="_blank"
  >
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2023/mlh-trust-badge-2023-black.svg"
      alt="Major League Hacking 2023 Hackathon Season" style="width:100%">
  </a>
  <div class="wrapper">
    <!-- wrapper div starts -->
    <div class="padder"></div>

    <a class="content-skip" href="#title">Skip to Content &#x21e3;</a>

    <center class="main-header">
      <img class="image-main" src="images/cave_background/top.webp" />
      <div class="header-text-container">
        <h2 id="title">Treasure Hacks</h2>
        <!-- THIS ID IS FOR THE SKIP TO CONTENT BUTTON -->
        <h3>January 13-15, 2023</h3>
        <p>A community for students in computer science</p>
        <center>
          <a class="button"
            href="https://docs.google.com/forms/d/e/1FAIpQLScf8FX5Ue5NTOcNHBVm3N7eEXjR3pUZadA9wArRK12y875jTw/viewform">Register</a>
        </center>
      </div>
    </center>

    <div class="main-content">
      <!-- BEGIN MAIN CONTENT -->
      <br/><hr>
      <div class="section">
        <div class="mountain-slider splide" data-aos="fade-up"><div class="splide__track">
          <div class="splide__list">
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg0.png?ASDSADS" alt="Treasure Hacks as a Pathway to Success" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman0.png" alt="Introduction Stickman" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg1.png" alt="Mountain Background 1" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag1.png" alt="Hackathon Experience Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman1.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg2.png" alt="Mountain Background 2" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag2.png" alt="Community & Mentors Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman2.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg3.png" alt="Mountain Background 3" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag3.png" alt="Tech Industry Connections Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman3.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg4.png" alt="Mountain Background 4" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag4.png" alt="Product Launch Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman4.png" alt="Stickman Holding Flag" height="100%">
            </div>
          </div>
        </div></div>
      </div>

      <br/>
      <div class="section unsized">
        <p style="max-width: 620px;">Our goal is to create a network of aspiring developers and industry professionals, so that your hackathon
          projects into professionally-developed and marketable applications.</p>
        <a target="_blank" href="https://treasurehacks.org" class="button">Learn More</a>
      </div>

      {{!-- <div class="section">
        <iframe src="/map/" class="map-frame"></iframe>
      </div> --}}
      <br/>

      <div class="section">
      <center>
        <h2>Categories and Prizes</h2>
      </center>
      {{!-- <div class="cards-container category-box"> --}}
        {{!-- <!-- Show default when no category is selected -->
        <label class="category">
          <input type="radio" name="category" value="0" hidden checked>
          <div class="icon-container" hidden></div>
          <div class="category-info">
            <center><h3 class="category-title">Click or hover a category icon to view details</h3></center>
          </div>
        </label> --}}

      <div class="category-box-container splide" data-aos="fade-up"><div class="splide__track">
        <div class="cards-container category-box splide__list">
          {{#> category }}
            {{#*inline "title"}}Best Overall{{/inline}}
            {{#*inline "icon_name"}}best-overall{{/inline}}
            {{#*inline "description"}}
              The "Best Overall" award will be given to a hacker or team who best demonstrates their project&rsquo;s creativity, practicality, engineering excellence, and presentation.
            {{/inline}}
            {{#*inline "prizes"}}
              You can win up to a $50 cash prize, Taskade Pro <b>(lifetime)</b>, select Wolfram upgrades
              and ACF opportunities (<a href="https://treasure-hacks-3-0.devpost.com/">see Devpost</a>), Centered Pro (1 year), Interview Buddy async system-driven
              interview voucher, and $125 in DigitalOcean credits!
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Solo Hack{{/inline}}
            {{#*inline "icon_name"}}best-solo{{/inline}}
            {{#*inline "description"}}
              The "Best Solo Hack" award will be given to a single hacker with the best solo project in the entire Hackathon. Winners of this category
              and Best Duo Hack are still eligible for Overall Hackathon prizes.
            {{/inline}}
            {{#*inline "prizes"}}
              The best solo hack winner will receive a $30 cash prize, 1-year subscription licenses of Axure RP Team Edition,
              and a Goliath Automation and Robotics Monster Kit.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Duo Hack{{/inline}}
            {{#*inline "icon_name"}}best-duo{{/inline}}
            {{#*inline "description"}}
              Collaboration skills are super important in the programming world! The "Best Duo Hack" award will be given to a team of two hackers with the best project.
            {{/inline}}
            {{#*inline "prizes"}}
              Both participants in the Best Duo Hack project will receive a cash prize of $30, a 1-year subscription licenses of Axure RP Team Edition,
              and a Goliath Automation and Robotics Micro Kit.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Most Aesthetically Pleasing{{/inline}}
            {{#*inline "icon_name"}}best-aesthetics{{/inline}}
            {{#*inline "description"}}
              Are you a creative and artistic person? The "Most Aesthetically Pleasing" award will be given to
              the project with the most polish, best presentation, and most intuitive user experience.
            {{/inline}}
            {{#*inline "prizes"}}
              Every person in the winning team for this category will receive a $15 cash prize,
              $25 AoPS coupons per person, and $20 No Starch Press ebook vouchers.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Most People Helped{{/inline}}
            {{#*inline "icon_name"}}most-helpful{{/inline}}
            {{#*inline "description"}}
              At Treasure Hacks, we value teamwork and working together. The "Most People Helped" award will be given to the
              hacker who has helped the most other groups complete their projects.
            {{/inline}}
            {{#*inline "prizes"}}
              The winner of this category will receive a $30 Cash Prize, the Wolfram|One Personal Edition plus a one-year
              subscription to Wolfram|Alpha Pro, and 100% off an Interview Buddy async system-driven interview voucher.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Qoom Hack{{/inline}}
            {{#*inline "icon_name"}}qoom{{/inline}}
            {{#*inline "description"}}
              Qoom provides a  &ldquo;Simple, Easy, and Creator-Friendly Way to Build&rdquo; a project on the web.
              The best Qoom Hack will be awarded to the best project that uses their platform.
            {{/inline}}
            {{#*inline "prizes"}}
              The winning project team will have their project featured on the Qoom Project Gallery and our Discord, they
              will be able to publish a tutorial or workshop on Qoom&rsquo;s website, and they will be able to have an interview
              posted on Qoom&rsquo;s blog.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Use of Conversational AI{{/inline}}
            {{#*inline "icon_name"}}conversational-ai{{/inline}}
            {{#*inline "description"}}
              Projects in this category should make use of conversational AI models to creatively automate processes that are currently
              manually carried out by humans. They will be graded on the basis of their creativity and simplicity of user experience.
              Examples of projects are ChatGPT or the ability to easily surf through call transcripts by asking human-like questions.
            {{/inline}}
            {{#*inline "prizes"}}
              Winners will each receive a $50 Amazon or Uber Gift Card.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Verbwire Hack{{/inline}}
            {{#*inline "icon_name"}}verbwire{{/inline}}
            {{#*inline "description"}}
              The &ldquo;Best Verbwire Hack&rdquo; will be given to the best project that makes use of the Verbwire Blockchain API. For
              a quick crash course on Web3 and what this API provides, join the Verbwire Blockchain API workshop right after team-building.
            {{/inline}}
            {{#*inline "prizes"}}
              The first 30 winners of the category will receive a $25 gift card, and the next 50 participants will receive 1 month of
              free Premium Verbwire API credit.
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}Best Sashido Hack{{/inline}}
            {{#*inline "icon_name"}}sashido{{/inline}}
            {{#*inline "description"}}
              Projects in this category must be built with Teachable Machine &amp; SashiDo, and they must include a short blog post on <a href="https://medium.com">Medium</a>
              (which includes the idea, its implementation, a link to the repo, team members, a short explanation of technologies used,
              and any other details of interest). <a href="/events/sashido.html">More details</a>
            {{/inline}}
            {{#*inline "prizes"}}
              Prizes for this category have not been announced yet. Stay tuned as we update our website and discord with the most up-to-date information!
            {{/inline}}
          {{/category}}

          {{#> category }}
            {{#*inline "title"}}All Participants{{/inline}}
            {{#*inline "icon_name"}}all-participants{{/inline}}
            {{#*inline "description"}}
              We also offer prizes for all of our participants!
            {{/inline}}
            {{#*inline "prizes"}}
              Everyone who participates in Treasure Hacks will receive a T-Shirt (USA only), 30 day access to Interview Cake Course Access,
              60-day free trial to DigitalOcean services, one month access to Wolfram|One, 5 years of Taskade Pro, the Replit Hacker Coupon
              and Replit swag (only available if you host your code on Replit in addition to GitHub), and many other deals found in our Discord.
            {{/inline}}
          {{/category}}
        </div>
        {{!-- @todo noscript styles --}}
      </div></div>
      {{!-- </div> --}}

      </div>
      <hr/>

      <center id="schedule"><h2>Schedule</h2></center>
      <div class="row">
        <template id="event-template">
          <tr>
            <td class="time date">Day</td>
            <td class="time start-time">
              <span>Start Time</span>
              <span class="small-table-info">&ndash; End Time</span>
            </td>
            <td class="time end-time">End Time</td>
            <td class="event-name">Event</td>
          </tr>
        </template>
				<table id="schedule-table">
				  <tr><td style="text-align:center">The schedule requires JavaScript to fetch the events in realtime</td></tr>
				</table>
      </div>

      <center>
        <h2>Sponsors</h2>
      </center>
      <div class="row">
        {{#> sponsor }}
          {{#*inline "name"}}Interview Cake{{/inline}}
          {{#*inline "image"}}interview_cake.png{{/inline}}
          {{#*inline "link"}}https://interviewcake.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}Gen XYZ{{/inline}}
          {{#*inline "image"}}xyz.webp{{/inline}} 
          {{#*inline "link"}}https://gen.xyz/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}GiveMyCertificate{{/inline}}
          {{#*inline "image"}}givemycert.png{{/inline}}
          {{#*inline "link"}}https://givemycertificate.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}JDoodle{{/inline}}
          {{#*inline "image"}}JDoodle.png{{/inline}}
          {{#*inline "link"}}https://www.jdoodle.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
      </div>

      <br/>
      <center>
        <h2>FAQ</h2>
      </center>
      <center>
        <div class="faq">
          <button class="accordion">What is a hackathon?</button>
          <div class="panel">
            <p class="faq-answer">A hackathon is a collaborative event where many people come together to collaborate
              and compete using computer programming.</p>
          </div>

          <button class="accordion">Who can attend?</button>
          <div class="panel">
            <p class="faq-answer">Any current high school or college student.</p>
          </div>

          <button class="accordion">Can I join as a beginner?</button>
          <div class="panel">
            <p class="faq-answer">Yes, and we provide resources specifically for those who are new to programming</p>
          </div>

          <button class="accordion">Do I have to pay to enter?</button>
          <div class="panel">
            <p class="faq-answer">Nope! It&rsquo;s completely free and includes all the assortments of prizes that you can
              win.</p>
          </div>

          <button class="accordion">When is the deadline to register?</button>
          <div class="panel">
            <p class="faq-answer">The deadline is on January 12 at 11:59 PM PST.</p>
          </div>

          <button class="accordion">Where can I find the rules?</button>
          <div class="panel">
            <p class="faq-answer">You can read the hackathon rules <a target="_blank" href="/rules.pdf">here</a></p>
            <p class="faq-answer">This hackathon is a MLH Event. In addition to our hackathon rules, please make sure to
              follow the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of
                Conduct</a> at all times.</p>
          </div>

          <button class="accordion">How does finding a team work?</button>
          <div class="panel">
            <p class="faq-answer">If you don&rsquo;t have a team, you will be able to find and form a team (of up to 4 people) through Discord when the hackathon
              begins.</p>
            <p class="faq-answer">Once you have your team together, sign up on the Devpost.</p>
          </div>

          <button class="accordion">What coding language can I use?</button>
          <div class="panel">
            <p class="faq-answer">Any language is fine, as long as you can provide the code on GitHub</p>
          </div>

          <button class="accordion">Where will we turn in projects?</button>
          <div class="panel">
            <p class="faq-answer">Devpost (link will be in the discord)</p>
            <p class="faq-answer">You will need a short description and your code on GitHub.</p>
            <p class="faq-answer">A video is not strictly required, but will help significantly with your project’s scoring</p>
          </div>

          <button class="accordion">Can we submit our project to multiple hackathons?</button>
          <div class="panel">
            <p class="faq-answer">Yes, but for our hackathon, you can only work on it during our hacking period.</p>
          </div>

          <button class="accordion">What time zone is this based in?</button>
          <div class="panel">
            <p class="faq-answer">We are located in California so we will be running off of PST.</p>
          </div>


        </div>
      </center>

      <h2 class="page-title">Treasure Hacks Team</h2>
      <div class="row team-container">
        <div class="team-founder">
          <img src="/images/people/brandon-joe.jpg" alt="Brandon Joe" class="founder-img">
          <p>Hi there, I&rsquo;m Brandon Joe, an undergraduate student at UCSD. My interest for Computer Science started with creating broken games and block programming projects, but evolved into proficiency in several coding languages and leadership in stem-based organizations.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/ethan-kosaki.jpg" alt="Ethan Kosaki" class="founder-img">
          <p>Hi, I&rsquo;m Ethan Kosaki. I enjoy using programming in creative ways to solve different problems. Through TreasureHacks, I want to create a community for computer science students around the world. Treasure Hacks is my way to spread a love of programming with other students.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/ethan-wang.jpg" alt="Ethan Wang" class="founder-img">
          <p>Hello, I&rsquo;m Ethan Wang. I have always been intrigued about how things work, and I enjoy creating games. My passion for computer science has allowed me to win the sponsorship award at a local hackathon, as well as land an internship at Hopscotch Technologies.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/anthony-jenanian.jpg" alt="Anthony Jenanian" class="founder-img">
          <p>Hi, I'm Anthony Jenanian, a high school student and aspiring programmer. I've developed a passion for coding because it always presents a new and unique challenge. I'm the Chief Community Officer at Treasure Hacks and I'm looking forward to growing and strengthening our community!</p>
        </div>
      </div>

      <center>
        <h2>Partners</h2>
      </center>
      <div class="row">
        <div class="item">
          <center>
            <a title="Devcord" href="https://devcord.com/" target="_blank">
              <img src="/images/partners/devcord.png" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="MLH" href="https://mlh.io/" target="_blank">
              <img src="/images/partners/mlh.webp" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="Standout Stickers" href="https://hackp.ac/mlh-standoutstickers-hackathons" target="_blank">
              <img src="/images/partners/standout-stickers.webp" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="FreyHacks" href="https://www.freyhacks.tech/" target="_blank">
              <img src="/images/partners/freyhacks.webp" class="sponsor">
            </a>
          </center>
        </div>
      </div>

      <center>
        <img style="padding: 30px 0px; min-width:200px; width: 20%" src="images/Hack-Club-Bank-logo.png">
      </center>
      <!-- END MAIN CONTENT -->
      <br />
      <br />
    </div>
  {{> footer }}
  </div>
  <script src="main.js"></script>
  <script src="schedule.js"></script>
  <script>
    const contentSkipBtn = document.querySelector('.content-skip');
    contentSkipBtn.addEventListener('click', function () {
      contentSkipBtn.style.display = 'none'
    });
    function scrollPos() {
      return document.body.scrollTop || window.scrollY
    }
    window.addEventListener('load', () => {
      if (document.querySelector('.header-text-container p').getBoundingClientRect().y < window.innerHeight) contentSkipBtn.style.display = 'none'
      document.documentElement.style.scrollBehavior = 'smooth'
    });
    window.addEventListener('scroll', () => {
      if (scrollPos() !== 0) contentSkipBtn.style.display = 'none'
    }, { passive: true })
    if (scrollPos() === 0) contentSkipBtn.style.display = 'inline'

    document.querySelector('.category-box').addEventListener('mouseover', e => {
      if (!e.target.classList.contains('category-icon')) return
      e.target.parentNode.previousElementSibling.checked = true
    })
  </script>
</body>
</html>
