<html>
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description"
    content="Treasure Hacks is a recurring hackathon dedicated to creating a place where computer-science students throughout the nation can gain skills and forge personal connections.">
  <title>Treasure Hacks Hackathon</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/css/splide-core.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/css/themes/splide-skyblue.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.2/dist/js/splide-extension-auto-scroll.min.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  {{> navigation_header }}
  <a id="mlh-trust-badge"
    href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2023-season&utm_content=black"
    target="_blank"
  >
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2023/mlh-trust-badge-2023-black.svg"
      alt="Major League Hacking 2023 Hackathon Season" style="width:100%">
  </a>
  <div class="wrapper">
    <!-- wrapper div starts -->
    <div class="padder"></div>

    <a class="content-skip" href="#title">Skip to Content &#x21e3;</a>

    <center class="main-header">
      <img class="image-main" src="images/cave_background/top.webp" />
      <div class="header-text-container">
        <h2 id="title">Treasure Hacks 3.5</h2>
        <!-- THIS ID IS FOR THE SKIP TO CONTENT BUTTON -->
        <h3>April 28-30, 2023</h3>
        <p class="tagline">A Free Generative AI and Blockchain Themed Hackathon. General Hacks are Encouraged to Join as Well!</p>
        <center>
          <a class="button" target="_blank" href="/register/">Register</a>
        </center>
      </div>
    </center>

    <div class="main-content">
      <!-- BEGIN MAIN CONTENT -->
      <br/><hr>
      <div class="section">
        <div class="mountain-slider splide" data-aos="fade-up"><div class="splide__track">
          <div class="splide__list">
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg0.png?ASDSADS" alt="Treasure Hacks as a Pathway to Success" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman0.png" alt="Introduction Stickman" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg1.png" alt="Mountain Background 1" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag1.png" alt="Hackathon Experience Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman1.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg2.png" alt="Mountain Background 2" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag2.png" alt="Community & Mentors Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman2.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg3.png" alt="Mountain Background 3" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag3.png" alt="Tech Industry Connections Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman3.png" alt="Stickman Holding Flag" height="100%">
            </div>
            <div class="mtn-card splide__slide">
              <img src="/images/mountains/bg4.png" alt="Mountain Background 4" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/flag4.png" alt="Product Launch Flag" height="100%">
              <img class="mtn-fg-img" src="/images/mountains/stickman4.png" alt="Stickman Holding Flag" height="100%">
            </div>
          </div>
        </div></div>
      </div>

      <br/>
      <div class="section unsized">
        <p style="max-width: 620px;">Our goal is to create a network of aspiring developers and industry professionals, so that your hackathon
          projects into professionally-developed and marketable applications.</p>
        <a target="_blank" href="https://treasurehacks.org" class="button">Learn More</a>
      </div>

      {{!-- <div class="section">
        <iframe src="/map/" class="map-frame"></iframe>
      </div> --}}
      <br/>

      <div class="section">
      <center>
        <h2>Categories and Prizes</h2>
      </center>
      {{!-- <div class="cards-container category-box"> --}}
        {{!-- <!-- Show default when no category is selected -->
        <label class="category">
          <input type="radio" name="category" value="0" hidden checked>
          <div class="icon-container" hidden></div>
          <div class="category-info">
            <center><h3 class="category-title">Click or hover a category icon to view details</h3></center>
          </div>
        </label> --}}

      <div class="category-box-container splide" data-aos="fade-up"><div class="splide__track">
        <div class="cards-container category-box splide__list">
          {{#> category }}
            {{#*inline "title"}}Best Generative AI Hack{{/inline}}
            {{#*inline "icon_name"}}conversational-ai{{/inline}}
            {{#*inline "description"}}
              This award will be given to the hacker or team whose project best implements generative AI while also displaying excellent creativity, practicality, presentation, and sophistication.
            {{/inline}}
            {{#*inline "prizes"}}
              You can win up to a $200 cash prize, Taskade Pro <b>(lifetime)</b>, an MLH T-Shirt & winner pin, and Wolfram|One Personal Edition plus a one-year subscription to Wolfram|Alpha Pro.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Best Blockchain Hack{{/inline}}
            {{#*inline "icon_name"}}blockchain{{/inline}}
            {{#*inline "description"}}
              This award will be given to the hacker or team whose project best interacts with the blockchain while also displaying excellent creativity, practicality, presentation, and sophistication.
            {{/inline}}
            {{#*inline "prizes"}}
              You can win up to a $200 cash prize, Taskade Pro <b>(lifetime)</b>, an MLH T-Shirt & winner pin, and Wolfram|One Personal Edition plus a one-year subscription to Wolfram|Alpha Pro.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Best Solo Hack{{/inline}}
            {{#*inline "icon_name"}}best-solo{{/inline}}
            {{#*inline "description"}}
              This award will be given to the hackers with the best solo projects in the generative AI and blockchain categories, respectively. Winners of this category are still eligible for Overall Hackathon prizes.
            {{/inline}}
            {{#*inline "prizes"}}
              The best solo hack winner will receive a $40 cash prize, Taskade Pro <b>(lifetime)</b>, an MLH T-Shirt & winner pin, and Wolfram prizes (see <a href="https://treasurehacks-3-5.devpost.com/">Devpost</a> for details).
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Best General Hack{{/inline}}
            {{#*inline "icon_name"}}best-overall{{/inline}}
            {{#*inline "description"}}
              This award will be given to the hacker or team whose project displays the best creativity, practicality, presentation, and sophistication but does not fit the theme.
            {{/inline}}
            {{#*inline "prizes"}}
              All members of the team that wins this category will receive a $100 cash prize, Taskade Pro <b>(lifetime)</b>, an MLH T-Shirt & winner pin, and Wolfram|One Personal Edition plus a one-year subscription to Wolfram|Alpha Pro.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Best Verbwire Hack{{/inline}}
            {{#*inline "icon_name"}}verbwire{{/inline}}
            {{#*inline "description"}}
              This award will be given to the best project that makes use of the Verbwire Blockchain API. Join the Verbwire Blockchain API workshop for more info.
            {{/inline}}
            {{#*inline "prizes"}}
              There will be a $1000 Prize pool for any team that implements the Verbwire API in their projects. We'll give a $25 gift card to each team member and any teams who don't win will receive 1 month free API credit ($45).
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Most People Helped{{/inline}}
            {{#*inline "icon_name"}}most-helpful{{/inline}}
            {{#*inline "description"}}
              At Treasure Hacks, we value teamwork and working together. The "Most People Helped" award will be given to the
              hacker who has helped the most other groups complete their projects and has consistently been a great member of our community.
            {{/inline}}
            {{#*inline "prizes"}}
              The winner of this category will receive a $15 Cash Prize and a choice of one Discord emoji to add to our server.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}Best Pitch{{/inline}}
            {{#*inline "icon_name"}}best-aesthetics{{/inline}} {{!-- Using best aesthetics icon for now --}}
            {{#*inline "description"}}
              The team with the best pitch video for their project will win this category. Your pitch should demonstrate your project overall, its purpose, and its functionality. Additionally, your pitch should address the real-world applications of your project. Sell the value of your project!
            {{/inline}}
            {{#*inline "prizes"}}
              Every person in the winning team for this category will receive a $15 cash prize.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}All Participants{{/inline}}
            {{#*inline "icon_name"}}all-participants{{/inline}}
            {{#*inline "description"}}
              We also offer prizes for all of our participants! Thanks for participating and great work on your projects!
            {{/inline}}
            {{#*inline "prizes"}}
              Everyone who participates in Treasure Hacks will receive a T-Shirt (USA only, while supplies last), 30 days of Interview Cake Course access, Free .xyz domains for a year, one month access to Wolfram|One, and many other deals found in our Discord.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}MLH Categories{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              Check out our <a href="https://treasurehacks-3-5.devpost.com/">Devpost</a> to see all MLH categories including: Best Use of Google Cloud, Best .tech Domain from Domain.com, Best Use of CockroachDB, Best Use of MATLAB, & Best Accessibility Hack.
            {{/inline}}
            {{#*inline "prizes"}}
              Prizes include merch, gadgets, and more &ndash; such as branded backpacks and a 3D pen. Full MLH prize info listed with category descriptions on <a href="https://treasurehacks-3-5.devpost.com/">Devpost</a>.
            {{/inline}}
          {{/category}}
          {{!--
          {{#> category }}
            {{#*inline "title"}}MLH: Best Use of Google Cloud{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              Build your hackathon project with a suite of secure storage, integrated data analytics products, and more provided by Google Cloud.
            {{/inline}}
            {{#*inline "prizes"}}
              Each winning team member will receive a Google branded backpack.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}MLH: Best .tech Domain from Domain.com{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              Register a .tech domain name using Domain.com during the weekend.
            {{/inline}}
            {{#*inline "prizes"}}
              Each winning team member will receive a Domain.com Branded Backpack.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}MLH: Best Use of CockroachDB{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              Build your hackathon project on CockroachDB's open source and indestructible SQL database. PostgreSQL compatible and easy to use.
            {{/inline}}
            {{#*inline "prizes"}}
              Utilize CockroachDB in your hack for a chance to win a 3D printing pen for each team member.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}MLH: Best Use of MATLAB{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              MATLAB and Simulink are computational tools used at over 100,000 businesses, government and university sites in over 190 countries.
            {{/inline}}
            {{#*inline "prizes"}}
              Use MATLAB and/or Simulink exclusively or integrate them into another tool for your next hack to win an exclusive MathWorks branded Wireless YoYo Speaker! You can also claim a free MATLAB software license to get started.
            {{/inline}}
          {{/category}}
          {{#> category }}
            {{#*inline "title"}}MLH: Best Accessibility Hack{{/inline}}
            {{#*inline "icon_name"}}mlh{{/inline}}
            {{#*inline "description"}}
              <b>Sponsored by Fidelity</b><br>
              At Fidelity, accessibility is viewed as a major key to the success of their business, which is why they are challenging you to come up with innovative ways to make tech more accessible! We want you to use your hacking skills to find and build solutions that put opportunities and resources within reach to all communities.
            {{/inline}}
            {{#*inline "prizes"}}
              The team with the best accessibility hack will win a Fidelity branded wireless charger for each team member!
            {{/inline}}
          {{/category}}
          
          --}}
        </div>
        {{!-- @todo noscript styles --}}
      </div></div>
      {{!-- </div> --}}

      </div>
      <hr/>

      <center id="schedule"><h2>Schedule</h2></center>
      <div class="row">
        <template id="event-template">
          <tr>
            <td class="time date">Day</td>
            <td class="time start-time">
              <span>Start Time</span>
              <span class="small-table-info">&ndash; End Time</span>
            </td>
            <td class="time end-time">End Time</td>
            <td class="event-name">Event</td>
          </tr>
        </template>
				<table id="schedule-table">
				  <tr><td style="text-align:center">The schedule requires JavaScript to fetch the events in realtime</td></tr>
				</table>
      </div>

      <center>
        <h2>Sponsors</h2>
      </center>
      <div class="row">
        {{#> sponsor }}
          {{#*inline "name"}}Verbwire{{/inline}}
          {{#*inline "image"}}verbwire.webp{{/inline}}
          {{#*inline "link"}}https://www.verbwire.com/{{/inline}}
          {{#*inline "tier"}}gold{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}Wolfram{{/inline}}
          {{#*inline "image"}}wolfram.png{{/inline}}
          {{#*inline "link"}}https://www.wolframalpha.com/{{/inline}}
          {{#*inline "tier"}}gold{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}GiveMyCertificate{{/inline}}
          {{#*inline "image"}}givemycert.png{{/inline}}
          {{#*inline "link"}}https://givemycertificate.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}Interview Cake{{/inline}}
          {{#*inline "image"}}interview_cake.png{{/inline}}
          {{#*inline "link"}}https://interviewcake.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}JDoodle{{/inline}}
          {{#*inline "image"}}jdoodle.webp{{/inline}}
          {{#*inline "link"}}https://www.jdoodle.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}Taskade{{/inline}}
          {{#*inline "image"}}taskade.webp{{/inline}}
          {{#*inline "link"}}https://www.taskade.com/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
        {{#> sponsor }}
          {{#*inline "name"}}Gen XYZ{{/inline}}
          {{#*inline "image"}}xyz.webp{{/inline}}
          {{#*inline "link"}}https://gen.xyz/{{/inline}}
          {{#*inline "tier"}}bronze{{/inline}}
        {{/sponsor}}
      </div>

      <br/>
      <center>
        <h2>FAQ</h2>
      </center>
      <center>
        <div class="faq">
          <button class="accordion">What is a hackathon?</button>
          <div class="panel">
            <p class="faq-answer">A hackathon is a collaborative event where many people come together to collaborate
              and compete using computer programming.</p>
          </div>

          <button class="accordion">Who can attend?</button>
          <div class="panel">
            <p class="faq-answer">Any current high school or college student.</p>
          </div>

          <button class="accordion">Can I join as a beginner?</button>
          <div class="panel">
            <p class="faq-answer">Yes, and we provide resources specifically for those who are new to programming</p>
          </div>

          <button class="accordion">Do I have to pay to enter?</button>
          <div class="panel">
            <p class="faq-answer">Nope! It&rsquo;s completely free and includes all the assortments of prizes that you can
              win.</p>
          </div>

          <button class="accordion">When is the deadline to register?</button>
          <div class="panel">
            <p class="faq-answer">The deadline is on January 12 at 11:59 PM PST.</p>
          </div>

          <button class="accordion">Where can I find the rules?</button>
          <div class="panel">
            <p class="faq-answer">You can read the hackathon rules <a target="_blank" href="/rules.pdf">here</a></p>
            <p class="faq-answer">This hackathon is a MLH Event. In addition to our hackathon rules, please make sure to
              follow the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of
                Conduct</a> at all times.</p>
          </div>

          <button class="accordion">How does finding a team work?</button>
          <div class="panel">
            <p class="faq-answer">If you don&rsquo;t have a team, you will be able to find and form a team (of up to 4 people) through Discord when the hackathon
              begins.</p>
            <p class="faq-answer">Once you have your team together, sign up on the Devpost.</p>
          </div>

          <button class="accordion">What coding language can I use?</button>
          <div class="panel">
            <p class="faq-answer">Any language is fine, as long as you can provide the code on GitHub</p>
          </div>

          <button class="accordion">Where will we turn in projects?</button>
          <div class="panel">
            <p class="faq-answer">Devpost (link will be in the discord)</p>
            <p class="faq-answer">You will need a short description and your code on GitHub.</p>
            <p class="faq-answer">A video is not strictly required, but will help significantly with your project’s scoring</p>
          </div>

          <button class="accordion">Can we submit our project to multiple hackathons?</button>
          <div class="panel">
            <p class="faq-answer">Yes, but for our hackathon, you can only work on it during our hacking period.</p>
          </div>

          <button class="accordion">What time zone is this based in?</button>
          <div class="panel">
            <p class="faq-answer">We are located in California so we will be running off of PST.</p>
          </div>


        </div>
      </center>

      <h2 class="page-title">Treasure Hacks Team</h2>
      <div class="row team-container">
        <div class="team-founder">
          <img src="/images/people/brandon-joe.jpg" alt="Brandon Joe" class="founder-img">
          <p>Hi there, I'm Brandon. I have always had a passion for creating, whether it was video game design as a kid or entrepreneurship as an adult. Now, with this passion manifesting as Treasure Hacks, I feel that I have the opportunity to inspire others to embark on the same journey.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/ethan-kosaki.jpg" alt="Ethan Kosaki" class="founder-img">
          <p>Hi, I&rsquo;m Ethan Kosaki. I enjoy using programming in creative ways to solve different problems. Through TreasureHacks, I want to create a community for computer science students around the world. Treasure Hacks is my way to spread a love of programming with other students.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/ethan-wang.jpg" alt="Ethan Wang" class="founder-img">
          <p>Hello, I'm Ethan Wang, and I am studying Computer Science and Engineering at UCI. My passion for computer science allowed me to land an internship at Hopscotch Technologies and sparked my interest in designing user-centric applications, and I am excited to share my experiences with individuals worldwide.</p>
        </div>
        <div class="team-founder">
          <img src="/images/people/anthony-jenanian.jpg" alt="Anthony Jenanian" class="founder-img">
          <p>Hi, I'm Anthony Jenanian, a high school student and aspiring programmer. I've developed a passion for coding because it always presents a new and unique challenge. I'm the Chief Community Officer at Treasure Hacks and I'm looking forward to growing and strengthening our community!</p>
        </div>
      </div>

      <center>
        <h2>Partners</h2>
      </center>
      <div class="row">
        <div class="item">
          <center>
            <a title="Devcord" href="https://devcord.com/" target="_blank">
              <img src="/images/partners/devcord.png" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="MLH" href="https://mlh.io/" target="_blank">
              <img src="/images/partners/mlh.webp" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="Standout Stickers" href="https://hackp.ac/mlh-standoutstickers-hackathons" target="_blank">
              <img src="/images/partners/standout-stickers.webp" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="FreyHacks" href="https://www.freyhacks.tech/" target="_blank">
              <img src="/images/partners/freyhacks.webp" class="sponsor">
            </a>
          </center>
        </div>
        <div class="item">
          <center>
            <a title="The Knowledge Society" href="https://www.tks.world/" target="_blank">
              <img src="/images/partners/tks.webp" class="sponsor">
            </a>
          </center>
        </div>
      </div>

      <center>
        <img style="padding: 30px 0px; min-width:200px; width: 20%" src="images/Hack-Club-Bank-logo.png">
      </center>
      <!-- END MAIN CONTENT -->
      <br />
      <br />
    </div>
  {{> footer }}
  </div>
  <script src="main.js"></script>
  <script src="schedule.js"></script>
  <script>
    const contentSkipBtn = document.querySelector('.content-skip');
    contentSkipBtn.addEventListener('click', function () {
      contentSkipBtn.style.display = 'none'
    });
    function scrollPos() {
      return document.body.scrollTop || window.scrollY
    }
    window.addEventListener('load', () => {
      if (document.querySelector('.header-text-container p').getBoundingClientRect().y < window.innerHeight) contentSkipBtn.style.display = 'none'
      document.documentElement.style.scrollBehavior = 'smooth'
    });
    window.addEventListener('scroll', () => {
      if (scrollPos() !== 0) contentSkipBtn.style.display = 'none'
    }, { passive: true })
    if (scrollPos() === 0) contentSkipBtn.style.display = 'inline'

    document.querySelector('.category-box').addEventListener('mouseover', e => {
      if (!e.target.classList.contains('category-icon')) return
      e.target.parentNode.previousElementSibling.checked = true
    })
  </script>
</body>
</html>
