<html>

<head>
	<meta name="robots" content="index, follow">
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Treasure Hacks is a recurring hackathon dedicated to creating a place where high-school students throughout the nation can build computer science communities.">
	<title>Treasure Hacks High School Hackathon</title>
  <meta name="theme-color" content="#111">
	<link rel="icon" href="logos/image5.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	{{> navigation_header }}
		<div class="wrapper homepage-wrapper"> <!-- wrapper div starts -->
			<div class="padder"></div>
       <!-- wrapper div starts -->
		<div class="padder"></div>
      <center>
        <div class="centered-popout background">
          <h1 style="font-size: 50px;">Treasure Hacks 1.0 - October, 2021</h1>
          <h2>Treasure Hacks 1.0 Highlights</h2>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M-vnqYx_R5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <center><h2>Treasure Hacks 1.0 Winners</h2></center>
          
          <h3>Overall Winners</h3>
          <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline-block">1st Place: Adventi</p></div>
          <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline-block">2nd Place: Code_Decoder</p></div>
          <div><i class="fa fa-trophy" style="color: var(--bronze-primary)"></i><p style="display: inline-block">3rd Place: ATLMUSE</p></div>
          </i><p>Honorable Mentions: Research Finder, Task Captain, Block Push, 2D Adventure, Accurate, Natura, Medi-Go</p>
          <div class="flex-grid">
            
            <div>
              <h3>Best Solo Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Task Captain</p></div>
            </div>
            <div>
              <h3>Best Duo Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Adventi</p></div>
            </div>
            <div>
              <h3>Most Helpful Award</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Milo Banks</p></div>
            </div>
            <div>
              <h3>Best Aesthetic</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Research Finder</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p>Runner-Up: Code Decoder</p></div>
            </div>
            <div>
              <h3>Best Website (Mini Event)</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Sahil Jain and Yatin Manuel</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p>Runner-Up: Lily DeHaven and Vincent Aquino</p></div>
            </div>
            <div>
              <h3>Capture the Flag</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Matthew Chak</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p>Runner-Up: Sahil Jain</p></div>
            </div>
            <div>
              <h3>Best Qoom Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p>Winner: Block Push</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p>Runner-Up: Readit</p></div>
              <div><i class="fa fa-trophy" style="color: var(--bronze-primary)"></i><p>Runner-Up: Adventure Finder</p></div>
            </div>
          </div>
        </div>
      </center>
    
			{{> footer }}
		</div>
		<script src="main.js"></script>
    <script>
      const contentSkipBtn = document.querySelector('.content-skip');
      contentSkipBtn.addEventListener('click', function() {
        contentSkipBtn.style.display = 'none'
      });
      function scrollPos() {
        return document.body.scrollTop || window.scrollY
      }
      window.addEventListener('load', () => {
        if (document.querySelector('.header-text-container p').getBoundingClientRect().y < window.innerHeight) contentSkipBtn.style.display = 'none'
        document.documentElement.style.scrollBehavior = 'smooth'
      });
      window.addEventListener('scroll', () => {
        if (scrollPos() !== 0) contentSkipBtn.style.display = 'none'
      }, { passive: true })
    </script>
	</body>
</html>
