<html>
	<head>
    <meta name="robots" content="index, follow">
		<link rel="stylesheet" href="style.css">
		<meta charset="UTF-8">
		<meta name="description" content="Treasure Hacks is a recurring hackathon dedicated to creating a place where computer-science students throughout the nation can gain skills and forge personal connections.">
		<title>Schedule - TreasureHacks Hackathon</title>
    <meta name="theme-color" content="#111">
		<link rel="icon" href="logos/image5.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
  {{> navigation_header }}
	<div class="wrapper"> <!-- wrapper div starts -->
		<div class="padder"></div>
    <template id="event-template">
      <tr>
        <td class="time date">Day</td>
        <td class="time start-time">
          <span>Start Time</span>
          <span class="small-table-info">&ndash; End Time</span>
        </td>
        <td class="time end-time">End Time</td>
        <td class="event-name">Event</td>
      </tr>
    </template>
		<center>
			<div class="centered-popout background" style="--bg: url('/images/world-network.jpg');">
				<center><h1 style="font-size: 50px;">March 25-26, 2022</h1></center>
				<center><p id="countdown"></p></center>
				<center><a href="https://docs.google.com/forms/d/e/1FAIpQLScP4YAwRzaanWJSuK_AQ15MQKgPJCZCl8ZaGcfRzG6gZ4yUUA/viewform" class="button">Sign Up</a></center>

				<center><h2>Schedule</h2></center>
				<table id="schedule-table">
				  <tr>
            
          </tr>
				</table>
				<br/><br/>
			</div>
		</center>
	</div>
	
	
	
		<br style="line-height: 50px;"/>
		{{> footer }}
		<script src="main.js"></script>
		<script src="/schedule/script.js"></script>
	</body>
</html>
