/* Colors
Black:         #000000
Gold:          #D5B032
Silver:        #C0C0C0
Bronze:        #CD7F32
Light Green:   #7BE600
Dark Green:    #2D630D
*/
:root {
  --col-bg-main: #231338;
  --col-bg-toolbar: #111e;
  --gold-primary: #D5B032;
  --gold-secondary: #fcea35;
  --silver-primary: #C0C0C0;
  --bronze-primary: #CD7F32;
  --green-primary: #55d507;
  --accent-primary: #623E73;
}
html {
  background-color: var(--col-bg-main);
  color: white;
}
.content-skip {
  position: fixed;
  bottom: 12px;
  right: 12px;
  color: white;
  text-decoration: none;
  z-index: 10;
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
body, button {
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Sora', sans-serif;
  width: 100%;
}
p {
  margin: 0px 10px;
  font-size: max(18px, 0.8vw);
  line-height: max(32px, 1.6vw);
  text-align: center;
}
@media only screen and (max-width: 700px){
  h1 {
    font-size: 25px!important;
  }
  #countdown {
    font-size: 25px!important;
  }
  #countdown2 {
    font-size: 25px!important;
  }
}
#goToTop {
	border: none;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	color: #000;
	outline: 0;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
	background-color: var(--gold-secondary);
	width: 50px;
	height: 50px;

}
#goToTop:hover {
	cursor: pointer;
	background-color: var(--gold-secondary);
    color: #000;
    box-shadow: 0 0 5px var(--gold-secondary),
                0 0 10px var(--gold-secondary),
                0 0 15px var(--gold-secondary),
                0 0 20px var(--gold-secondary);
}
.button {
	text-decoration: none;
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid var(--accent-primary);
  background-color: var(--accent-primary);
  color: #fff;
  font-weight: 600;
  transition: box-shadow 0.2s, border-color 0.2s, scale 0.2s, opacity 0.2s;
	border-radius: 10px;
	margin-top: 20px;
  &:hover {
    color: #fff;
    box-shadow: 0 0 8px 1px #fffc;
    scale: 1.03;
  }
  &:active { opacity: 0.6; }
}
.padder {
  height: 70px;
}
.banner-button {
	position: absolute;
	cursor: pointer;
	transform: translate(-50%, -100px);
}
@media only screen and (max-width: 700px){
	.banner-button {
		position: absolute;
		cursor: pointer;
		transform: translate(-50%, -60px);
	}
}
footer {
  width: 100%;
	height: 57vw;
	display: flex;
	align-items: flex-end;
  position: relative;
  z-index: 50;
  box-sizing: border-box;
  &::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vw;
    background-image: url('/images/cave_background/bottom.webp');
    background-position: bottom;
    background-size: 100vw;
    pointer-events: none;
  }
}
footer .flex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  height: min(15vw, 100px)  ;
  color: white;
  padding: 0 min(40px, 4vw);
  box-sizing: border-box;
}
footer .flex a {
  color: white;
}
#countdown {
	font-size: 50px;
	height: 50px;
}
#countdown2 {
	font-size: 50px;
	height: 50px;
}
.centered-popout {
	border-radius: 10px;
	width: 90vw;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	background-color: #000a;
  position: relative;
  max-width: 1200px;
  &.background::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--bg);
    background-position: center;
    background-size: cover;
    filter: brightness(1);
    z-index: -1;
    border-radius: inherit;
    overflow: hidden;
  }
}
hr {
	width: 100%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #fff0, #ffffffb0, #fff0);
	margin-bottom: 40px;
	margin-top: 40px;
}
.section {
  max-width: 1250px;
  min-height: 35vh;
  padding: 0 min(3vw, 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  &.unsized {
    padding-block: 4vh;
    min-height: 0;
  }
}
@media only screen and (max-width: 480px) {
  p { margin: 0; }
  .section { padding: 0 2px; }
}

.page-title {
  text-align: center;
  margin-block: 1.5em 1em;
}
.row {
  text-align:center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  &.team-container {
    .team-founder {
      margin: 12px 24px;
      max-width: 850px;
      height: 100%;
      padding: 24px;
      display: flex;
      align-items: center;
      gap: 16px;
      transition: opacity 0.2s;
      background-color: #2C1C4B;
      border-radius: 20px;
    }
    img.founder-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: top;
      border-radius: 16px;
      z-index: 1;
      flex-shrink: 0;
    }
    .row.team-container {
      position: relative;
      justify-content: space-between;
      margin-block: 20px 50px;
    }
    @media (max-width: 850px) {
      .team-founder {
        flex-direction: column;
      }
    }
    @media (max-width: 640px) {
      p {
        font-size: 16px;
        line-height: 1.8;
      }
    }
  }
}
center {
  scroll-margin: 100px;
}
@media only screen and (max-width: 700px){
	.centered-popout {
		width: 80vw;
	}
}

.map-frame {
  margin: 16px;
  border: none;
  width: 100vh;
  height: 75vh;
  max-width: 66vw;
  max-height: 50vw;
}
h3 {
	font-size: 25px;
  margin: 0 auto 18px;
}
.glow {
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow:before {
  content: '';
  background: linear-gradient(45deg, var(--gold-secondary), #C0C0C0, #cd7f32);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
	opacity: 1;
}
.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.sponsor {
  width: 200px;
  height: 130px;
  border-radius: 5px;
  height: 100%;
  object-fit: contain;
}
.item {
  min-width: 200px;
  height: 130px;
  margin: 30px 0;
  border-radius: 20px;
  padding: 0 25px;
  box-sizing: border-box;
  @media only screen and (max-width: 400px) {
    padding-inline: 0;
  }
}

.description {
	font-size: 20px;
	padding: 16px 3%;
}
.flex {
	display: flex;
}
h4 {
	color: #ccc;
	padding: 0px;
	margin: 0px;
}
.person {
	width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 32px;
}
.link {
	text-decoration:none;
	color: black;
	transition: all 0.3s ease;
}
.link:hover {
	transform: scale(1.04);
	cursor: pointer;
}
.link > img {
	max-width: 40px;
	max-height: 40px;
  border-radius: 9px;
	transition: all 0.3s ease;
	margin: 0px 4px;
}
.link > img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.bottom-links {
  margin-left: auto;
}
.bottom-links a {
  display: inline-block;
}
.bottom-links .smallscreen, .smallscreen-divider {
  display: none;
}
@media only screen and (max-width: 600px){
	.bottom-links {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 10px;
	}
}
.accordion {
  background-color: rgb(34, 36, 38);
  color: #bebebe;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  box-sizing: border-box;
  display: flex;
  align-items:center;
}

.accordion:hover {
  background-color: rgb(53, 57, 59);
}
.active {
	background-color: rgb(44,47,49);
}

.panel {
  padding: 0px;
  background-color: var(--col-bg-main);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  box-sizing: border-box;
}
.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #bebebe;
  float: right;
  margin-left: auto;
}
.faq-answer {
  padding: 18px 18px;
  font-size: 16px;
  text-align:left;
  margin: 0px;
  background-color: rgba(255,255,255, 0.06);
  line-height: 22px;
}
.faq-answer > a {
	color: #9cf;
}
.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}
.nowrap {
  white-space: nowrap;
}

// Mountain Slider
.mountain-slider {
  width: 100%;
  padding: 24px 50px 40px;
  .mtn-card {
    border-radius: 12px;
    padding: 0;
    height: min(65vh, 80vw);
    @media print {
      background-color: #0000;
      outline: 2px solid #222e;
    }
    .mtn-fg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s, transform 0.5s;
    }
    img[src*="mountains/stickman"] {
      opacity: 0;
    }
    img[src*="mountains/flag"] {
      opacity: 1;
      transform: translate(-2px, -10px);
    }

    &.is-active img[src*="mountains/stickman"] {
      opacity: 1;
    }
    &.is-active ~ .mtn-card img[src*="mountains/flag"] {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  p {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  @media (max-width: 480px) {
    padding-inline: 30px;
    .splide__slide {
      display: flex;
      align-items: center;
    }
    .mtn-card {
      height: auto;
      // padding: 0 8px;
    }
  }
  @media (max-width: 400px) {
    p {
      font-size: 0.92em;
      line-height: 1.6em;
    }
  }
  // .splide__slide { padding: 8px 12px; }
  .splide__arrow { transform: translateY(calc(-50% - 10px)) }
  .splide__arrow--prev { left: 0; }
  .splide__arrow--next { right: 0; }
  @media (max-width: 365px) {
    padding-inline: 10px;
    .splide__arrow--prev { left: -10px; }
    .splide__arrow--next { right: -10px; }
  }
}

.image-main {
  width: 100%!important;
  object-fit: cover;
  object-position: 50% 50%;
}
.section-main {
	height: calc(100vh - 70px);
  width: 100vw;
}
.header-text-container {
  position: absolute;
  bottom: calc(5vw - 100px);
  width: 100%;
  transform: translateY(-25%);
  padding: 0 15vw;
  box-sizing: border-box;
}
.header-text-container h2 {
  color: white;
  font-size: clamp(36px, calc(10px + 4vw), 120px);
  text-shadow: 0px 0px 10px #000;
  margin: 0.4em 0;
  scroll-margin: 40vh;
}
.header-text-container p {
  font-size: 21px;
  line-height: 1.25em;
}
.banner-text {
  position:absolute;
  margin:auto;
  z-index: 1;
  color: white;
  font-size: 50px;
  left:50%;
  bottom: 15vw;
  transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  padding: 0px 50px;
  text-shadow: 0px 0px 10px #000;
}
.hide-on-small {
  display:none;
}
.text-over-image {
  text-align: center;
}
@media only screen and (min-width: 800px){
  .text-over-image {
    text-align: left;
    position: absolute;
    top: 100vh;
    color: white;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 30px 0px 0px 30px;
  }
  .polygon {
    clip-path: polygon(0 0, 62% 0, 33% 100%, 0% 100%);
    background-color: rgba(0,0,0,0.5);
  }
  .polygon > h1 {
    width: 50%;
  }
  .polygon > p {
    width: 33%;
  }
  .text-over-image2 {
    text-align: right;
    position: absolute;
    top: calc(100vh + 100vh - 70px);
    color: white;
    width: 100%;
    height: calc(100vh - 100px);
    padding-right: 30px;
  }
  .polygon2 {
    clip-path: polygon(100% 0, 38% 0, 66% 100%, 100% 100%);
    background-color: rgba(0,0,0,0.5);
  }
  .polygon2 > h1 {
    width: 50%;
    margin-left:50%;
  }
  .polygon2 > p {
    margin-left:calc(66%);
    width: 33%;
  }
  .hide-on-small {
    display:initial;
  }
}



.flex-row-to-col {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.flex-row-to-col > li {
  list-style: none;
  width: 33%;
  text-align:center;
}
.flex-row-to-col > li > h3 {
  width: 100%;
  text-align:center;
}
.flex-row-to-col > li > p {
  text-align: center;
  padding: 0px 10px;
}
@media only screen and (max-width: 800px){
  .flex-row-to-col {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .flex-row-to-col > li {
    list-style: none;
    width: 100%;
    text-align:center;
  }
}
h3.sponsor-title {
  font-size: 20px;
}
/* Sponsorship Tiers */
/* #diamond-tier {
  box-shadow: 0px 7px 4px -2px rgba(99,226,255,0.75);
  -webkit-box-shadow: 0px 7px 4px -2px rgba(99,226,255,0.75);
  -moz-box-shadow: 0px 7px 4px -2px rgba(99,226,255,0.75);
  width: calc(285px + 10px);
  margin-top: 50px;
  margin-bottom: 15px;
}
#gold-tier {
  box-shadow: 0px 7px 4px -2px rgba(252, 234, 53,0.75);
  -webkit-box-shadow: 0px 7px 4px -2px rgba(252, 234, 53,0.75);
  -moz-box-shadow: 0px 7px 4px -2px rgba(252, 234, 53,0.75);
  width: calc(233px + 10px);
  margin-top: 50px;
  margin-bottom: 15px;
}
#silver-tier {
  box-shadow: 0px 7px 4px -2px rgba(150,150,150,0.75);
  -webkit-box-shadow: 0px 7px 4px -2px rgba(150,150,150,0.75);
  -moz-box-shadow: 0px 7px 4px -2px rgba(150,150,150,0.75);
  width: calc(242px + 10px);
  margin-top: 50px;
  margin-bottom: 15px;
}
#bronze-tier {
  box-shadow: 0px 7px 4px -2px rgba(205,127,50,0.75);
  -webkit-box-shadow: 0px 7px 4px -2px rgba(205,127,50,0.75);
  -moz-box-shadow: 0px 7px 4px -2px rgba(205,127,50,0.75);
  width: calc(258px + 10px);
  margin-top: 50px;
  margin-bottom: 15px;
} */

.item .sponsor {
	border: none;
  outline: 0;
  transition: opacity 0.2s, box-shadow 0.2s;
  opacity: 0.9;
  box-shadow: 0 0 12px 4px rgba(var(--col-r), var(--col-g), var(--col-b), var(--col-alpha, 0.5));
  &:hover {
    opacity: 1;
    --col-alpha: 1;
  }
  &.diamond-tier {
    --col-r: 99;
    --col-g: 226;
    --col-b: 255;
  }
  &.gold-tier {
    --col-r: 252;
    --col-g: 234;
    --col-b: 53;
  }
  &.silver-tier {
    --col-r: 150;
    --col-g: 150;
    --col-b: 150;
  }
  &.bronze-tier {
    --col-r: 205;
    --col-g: 127;
    --col-b: 50;
  }
}

/* .diamond-tier:hover {
	cursor: pointer;
  color: #000;
  opacity: 1;
  box-shadow: 0 0 12px 4px rgba(99, 226, 255, 1);
}
.gold-tier {
	border: none;
  outline:0;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.gold-tier:hover {
	cursor: pointer;
  color: #000;
  box-shadow: 0 0 12px 4px rgba(252, 234, 53, 1);
}
.silver-tier {
	border: none;
  outline:0;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.silver-tier:hover {
	cursor: pointer;
  color: #000;
  box-shadow: 0 0 12px 4px rgba(150, 150, 150, 1);
}
.bronze-tier {
	border: none;
  outline:0;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.bronze-tier:hover {
	cursor: pointer;
  color: #000;
  box-shadow: 0 0 12px 4px rgba(205, 127, 50, 1);
} */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    position: relative;
    margin-right: 10px;
    display: block;
    color: black;
    float: right;
  }
  .navbar {
    position: fixed;
    height: 70;
    z-index: 100;
    width: 100%;
    justify-content: right;
    align-items: right;
    background-color: var(--col-bg-toolbar);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .topnav.responsive {
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: var(--col-bg-toolbar);
  }
  .topnav.responsive .menu-item {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    color: #eee;
  }
  
}
.logo {
	margin-left: 20px;
	max-height: 50px;
	position: absolute;
	top: 50%;
  left: 0;
	transform: translateY(-50%);
	cursor: pointer;
}
.header {
  user-select: none;
  -webkit-user-select: none;
  + #menu-on-small {
    max-height: 0;
    transition: max-height 0.2s;
    overflow: hidden;
    z-index: 1000;
    width: calc(100vw + 16px);
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background-color: var(--col-bg-toolbar);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 8px -2px black;
    user-select: none;
    -webkit-user-select: none;
    .dropdown-container:hover .nav-dropdown { display: block; }
    .dropdown-container .nav-dropdown {
      background-color: #333;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      animation: vscale-in 0.1s forwards;
      transform: scaleY(0) translate(-50%, -50%);
      transform-origin: top;
      z-index: 1;
      border-radius: 8px;
      .menu-item { margin: 12px; white-space: nowrap; }
    }
    > .menu-item {
      margin-bottom: 20px;
    }
  }
  &.open + #menu-on-small {
    max-height: 320px;
  }
  .dropdown-container {
    // padding: 0;
    &:hover { background-color: #333; }
    &:hover .nav-dropdown { display: block; }
  }
  .menu-items > * {
    margin: 0 2px;
    &.menu-item::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background: var(--gold-primary);
      transition: transform 0.2s;
      transform: scaleX(0);
      transform-origin: center;
    }
    &.menu-item:hover::after {
      transform: scaleX(1);
    }
  }
  .nav-dropdown {
    position: absolute;
    width: fit-content;
    background-color: #333;
    display: none;
    padding: 2px 2px 0;
    .menu-item {
      margin: 8px 10px 11px;
      padding: 0;
      display: block;
      white-space: nowrap;
      transform: scaleY(0);
      transform-origin: top;
      animation: hscale-in 0.2s forwards;
      transition: transform 0.2s;
    }
  }
}
@keyframes hscale-in {
  from { transform: scaleY(0); margin-block: 0; }
  to { transform: scaleY(1); margin-block: 8px 11px; }
}
@keyframes vscale-in {
  from { transform: scaleY(0) translate(-50%, -50%); }
  to { transform: scaleY(1) translate(-50%, -50%); }
}
.menu-item {
  // margin: 0px 12px;
  padding: 6px 10px;
  display: block;

  color: #eee;
  // cursor: pointer;
  position: relative;
  text-decoration: none;
}
.navbar {
	position: fixed;
	height: 70px;
	z-index: 1000;
	width: 100%;
	display: flex;
	justify-content: left;
	background-color: var(--col-bg-toolbar);
  transition: box-shadow 0.2s;
  transition-delay: 0.1s;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0);
  &.open {
    box-shadow: none;
    transition-delay: 0s;
  }
}
.navbar > div {
	position: absolute;
	right: calc(12px + 16.6666666667px);
	display: flex;
	top: 50%;
	transform: translateY(-50%);
}
@media only screen and (max-width: 550px){
  .menu-items {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative!important;
    padding: 0px!important;
    margin: 0px!important;
    width: 100%;
    left: 0;
  transform: translateY(-35px)!important;
  }
  .menu-item {
    padding: 3px 5px;
    margin: 0px 5px;
  }
  .padder {
    height: 70px;
  }
}
#hamburger {
  display: none;
}
@media only screen and (max-width: 800px) {
  .menu-items {
    display: none!important;
  }
  #hamburger {
    display: initial;
    position: fixed;
    right: 27px;
    top: 27px;
    cursor: pointer;
  }
  #hamburger:hover {
    display: initial;
    position: fixed;
    right: 27px;
    top: 27px;
    cursor: pointer;
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 800.1px){
  #menu-on-small {
    display: none;
  }
}
#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width:60px;
  position: absolute;
  right: 50px;
  top: 70px;
  width: 10%;
  z-index: 999;
}
a#mlh-trust-badge::before {
  content: ' ';
  width: 90%;
  background-color: black;
  height: 200px;
  top: -198px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  position: absolute;
}
center.main-header {
  display: flex;
  align-items: flex-end;
  height: calc(75vh + 97vw);
  min-height: 128vw;
  max-height: 145vw;
  position: relative;
}
@media only screen and (max-width: 640px) {
  center.main-header {
    height: 200vh;
  }
  footer .flex {
    height: 60px;
    padding: 0 8px;
    align-items: flex-start;
  }
  footer .flex > a[href*="mailto"] {
    display: none;
  }
  footer .flex .bottom-links {
    margin: 0;
  }
  .bottom-links {
    display: flex;
    width: 100%;
  }
  .bottom-links .smallscreen {
    display: inline-block;
  }
  .smallscreen-divider {
    display: inline-block;
    margin: auto;
  }
}
.main-content {
  position: relative;
  padding: 0 15vw;
}
.main-content::before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/cave_background/walls.webp');
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: -1;
}
// .category-icon {
// }
.category-row {
   text-align:center;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content:center;
}
.category-item {
	width: 30%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
	margin: 10px 0px;
	padding: 10px;
}
.category-item p {
  margin: auto;
  padding: 10px 0 0;
  line-height: initial;
}
@media only screen and (max-width: 800px){
	.category-item {width: 75%!important;}
}
@media only screen and (max-width: 500px){
	.category-item {width: 85%!important;}
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(51,51,51,0.85);
}
#schedule-table {
  max-width: 850px;
}

td, th {
  text-align: left;
  padding: 8px 12px;
  &.event-name { white-space: nowrap; }
}

tr:nth-child(even) {
  // background-color: #dddddd;
  // color: #333;
  background-color: #47454bf0;
  // color: white;
}
.small-table-info {
  display: none;
}
table .time {
  white-space: nowrap;
}
@media only screen and (max-width: 1023.9px){
	tr {
		display: grid;
	}
	td, th {
		text-align: center;
		padding: 8px;
	}
	tr:first-child {
		display: none;
	}
  .large-table-info {
    display: none;
  }
  .small-table-info {
    display: unset;
  }
  .time.end-time {
    display: none;
  }
}
.category-block {
	min-height:190px;
	font-size: 19px;
}
.icons-container {
	width: 100%;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
.icons-container > img {
	width: 9%;
	min-width: 50px;
	border-bottom: 3px solid rgba(0,0,0,0);
  transition: 0.2s ease-out;
}
.icons-container > img:hover {
  --filter-value: invert(0.75) sepia(67%) saturate(5) hue-rotate(9deg) brightness(108%) contrast(98%);
	filter: var(--filter-value);
	-webkit-filter: var(--filter-value);
}
#category-description {
	margin-bottom: 25px;
	text-align: left;
}
#category-prizes {
	text-align: left;
}
@media only screen and (max-width: 500px){
	.icons-container > img {
		min-width: 40px;
	}
	.category-item {
		margin: 5px 0px;
	}
}

// CSS Categories
.category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3vw;
  --filter-value: invert(0.75) sepia(67%) saturate(5) hue-rotate(9deg) brightness(108%) contrast(98%);

  .icon-container {
    flex-grow: 0;
    width: 75px;
    min-width: 50px;
    max-width: 9%;
    margin: 1vw min(2vw, 25px);

    .category-icon {
      width: 100%;
      border-bottom: 3px solid transparent;
      transition: .2s ease-out;
      filter: invert(1);
      -webkit-filter: invert(1);
      padding-bottom: 12px;
      &:hover {
        filter: var(--filter-value);
        -webkit-filter: var(--filter-value);
      }
    }
  }

  .category-info {
    display: none;
    width: 100%;
    order: 2;
  }

  .category {
    display: contents;

    > input:checked {
      + .icon-container .category-icon {
        border-bottom-color: black;
        // If we want hover to also make the highlight gold
        // filter: var(--filter-value);
        // -webkit-filter: var(--filter-value);
      }
      ~ .category-info {
        display: block;
      }
    }
  }

  .category-description {
    margin-bottom: 25px;
    text-align: left;
    line-height: 1.5em;
  }
  .category-prizes {
    text-align: left;
    line-height: 1.5em;
  }
}


div.names-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  > div {
    width: 320px;
    padding: 2% 1%;
    text-align: center;
    max-width: 100%;
    margin: 0 0 40px;
  }
  h3 {
    margin: 10px 0px;
    font-size: 25px;
  }
  div.name-title {
    color: #ccc;
    margin-inline: auto;
    max-width: 250px;
  }
}
@media only screen and (max-width: 1116px){
  .names-container > div {
    width: 80%;
  }
}
@media only screen and (max-width: 850px){
	.names-container > div {
		width: 50%;
	}
}
@media only screen and (max-width: 500px){
	.names-container > div {
    min-width: unset;
		width: 96%;
	}
}

@media only screen and (max-width: 1116px){
  .names-container-team > div {
    width: 80%;
  }
}
@media only screen and (max-width: 850px){
	.names-container-team > div {
		width: 50%;
	}
}
@media only screen and (max-width: 500px){
	.names-container-team > div {
    min-width: unset;
		width: 96%;
	}
}
.flex-grid{
  display: flex;
  flex-wrap: wrap;
  align-items: middle;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 20px;
}
.flex-grid > *{
  width: 28%;
  min-width: 300px;
  &.video {
    aspect-ratio: 16 / 9;
  }
}
.flex-grid > * > h3{
  margin: 15px 0px;
}
.blue-link{
  color: #9cf;
}
.action-link {
  // Experimental, feel free to change
  display: inline-block;
  margin: 4px 0 2px;
  padding: 4px 10px;
  font-size: 16px;
  background-color: #1119;
  border-radius: 5px;
  color: #ca85ff;
  text-decoration: none;
}
.back{
  display: none;
}


.info-on-back{
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: .5s;
  cursor: pointer;
}
.info-on-back:hover{
  animation-name: changetext;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.info-on-back:not( :hover ){
  animation-name: changetext2;
  animation-duration: 0.5s;
  animation-play-state: running;
}
.hovered > div.front{
  display: none;
}
.hovered > div.back{
  display: initial;
}

// Winners' Info Cards

.info-card {
  width: 320px;
  height: 240px;
  border-radius: 16px;
  transform-origin: 40px 100px;
  transform: translateZ(-100px);
  transition: 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 10;
  > * {
    background-color: var(--card-color);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
  }
  &.open {
    top: 50%;
    left: 50%;
    .card-back {
      transform: rotateY(360deg);
    }
    .card-front {
      transform: rotateY(180deg);
    }
  }
  .card {
    animation: none;
    opacity: 1;
    filter: brightness(1);
    width: 100%;
  }
  .card-back {
    transform: rotateY(180deg);
    border-radius: 16px;
    .text-container {
      padding: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100vw - 32px);
      height: 100%;
      position: absolute;
    }
    .text-container > div {
      padding: 2px 16px;
      max-height: calc(100% - 96px);
      overflow: auto;
    }
    p {
      margin: 6px 8px 12px;
      font-size: 25px;
      line-height: 26px;
      max-height: calc(100% - 96px);
      text-align: center;
    }
  }
  .project-title {
    margin-top: 8px;
    font-size: 30px;
  }
  p.project-link-container {
    margin: 6px 0;
  }
}

@keyframes changetext{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes changetext2{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media only screen and (min-width: 1133px){
  #first-place{
    order: 2;
  }
  #second-place{
    margin-top: 30px;
    order: 1;
  }
  #third-place{
    margin-top: 50px;
    order: 3;
  }
}