<div class="wrapper">
  <div class="item-container header-image-container"><img src="/images/banner.jpg" alt="Treasure Hacks Banner" width="640" height="160"></div>
  <div class="item-container header">
    <h1>Registration Closed</h1>
    <p>This form has been closed because the hackathon has finished.<br><br>
      Although our event is over, feel free to connect with us and engage in the community! Here are the links to our different socials:
      <ul>
        <li>Discord: <a target="_blank" href="https://discord.gg/KA26nj6uZV">https://discord.gg/KA26nj6uZV</a></li>
        <li>YouTube: <a target="_blank" href="https://youtube.com/@treasurehacks">https://youtube.com/@treasurehacks</a><br></li>
        <li>Instagram: <a target="_blank" href="https://instagram.com/treasure_hacks">https://instagram.com/treasure_hacks</a><br></li>
        <li>LinkedIn: <a target="_blank" href="https://www.linkedin.com/company/treasure-hacks/">https://www.linkedin.com/company/treasure-hacks/</a></li>
      </ul>
    </p>
  </div>
</div>
