<form action="{{REGISTRATION_SUBMISSION_URL}}" method="POST" enctype="multipart/form-data">
  <div class="item-container header-image-container"><img src="banner.webp" alt="Treasure Hacks Banner" width="640" height="160"></div>
  <div class="item-container header">
    <h1>Treasure Hacks: Soft Skill Seminar Registration</h1>
    <p>Thanks for your interest in our seminar! Please note that since this is an in-person event, there is limited space available. Applications are evaluated on a rolling basis, providing a good opportunity for acceptance as long as spaces are available.<br><br>
      Social Media Links:
      <ul>
        <li>Website: <a target="_blank" href="https://seminar.treasurehacks.org/">https://seminar.treasurehacks.org/</a><br></li>
        <li>YouTube: <a target="_blank" href="https://youtube.com/@treasurehacks">https://youtube.com/@treasurehacks</a><br></li>
        <li>Instagram: <a target="_blank" href="https://instagram.com/treasure_hacks">https://instagram.com/treasure_hacks</a><br></li>
        <li>LinkedIn: <a target="_blank" href="https://www.linkedin.com/company/treasure-hacks/">https://www.linkedin.com/company/treasure-hacks/</a></li>
        <li>Discord: <a target="_blank" href="https://treasurehacks.dev/discord">https://treasurehacks.dev/discord</a></li>
      </ul>
    </p>
  </div>
  {{> form_question
      title="First Name"
      description=""
      input_type="text"
      input_name="first_name"
      placeholder="First name"
      textarea=false
      required=true
  }}
  {{> form_question
      title="Last Name"
      description=""
      input_type="text"
      input_name="last_name"
      placeholder="Last name"
      textarea=false
      required=true
  }}
  {{> form_question
      title="Email Address"
      description=""
      input_type="email"
      input_name="email"
      placeholder="someone@example.com"
      textarea=false
      required=true
      pattern="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}"
      error_text="Please enter a valid email"
  }}
  {{> form_question
      title="Phone Number"
      description="Your phone number will <b>only</b> be used in the case that we are unable to send an email confirmation 1 week before the event"
      input_type="text"
      input_name="phone_number"
      placeholder="+67 (999) 123-1234"
      textarea=false
      pattern="^(\+\d{1,3}\s?)?\(?(\d{3})\)?[\s.\-]?(\d{3})[\s.\-]?(\d{4})$"
      required=true
      error_text="Please enter a valid phone number"
  }}
  {{> form_question
      title="Where did you hear about us?"
      input_name="referral"
      checkbox=true
      options='[
        "Flyer",
        "Website",
        "School Announcement",
        "Social Media"
      ]'
      min="1"
      other=true
      error_text="Please choose at least one option"
  }}
  {{> form_question
      title="Current/Highest Level of Education"
      description=""
      radio=true
      input_name="edu_level"
      required="true"
      options='[
        "Less than Secondary / High School",
        "Secondary / High School",
        "Undergraduate University (2 year - community college or similar)",
        "Undergraduate University (3+ year)",
        "Graduate University (Masters, Professional, Doctoral, etc.)",
        "Code School / Bootcamp",
        "Other Vocational / Trade Program or Apprenticeship",
        "Post Doctorate",
        "I\'m currently not a student"
      ]'
  }}
  {{> form_question
      title="What are you studying?"
      input_name="student_type"
      input_type="text"
      required=true
      placeholder="Major or intended area of study"
      error_text="This question is required"
  }}
  {{> form_question
      title="Which of the following best describes you? (optional)"
      description="This question is used ONLY to gauge our demographics and is not associated with your response."
      checkbox=true
      input_name="student_ethnicity"
      min="0"
      options='[
        "White/Caucasian",
        "Hispanic, Latino, or Spanish",
        "Black or African American",
        "Asian",
        "American Indian or Alaska Native",
        "Middle Eastern or North African",
        "Native Hawailan or Other Pacific Islander",
        "Some other race, ethnicity, or origin"
      ]'
  }}
  {{> form_question
      title="Which of the following do you identify as? (optional)"
      description="This question is used ONLY to gauge our demographics and is not associated with your response."
      radio=true
      input_name="student_gender_identification"
      options='[
        {"text":"Not selected","value":"Prefer Not to Answer","hidden":true,"checked":true},
        "Female",
        "Male",
        "Transgender Female",
        "Transgender Male",
        "Gender Variant/Non-Conforming",
        "Not Listed",
        "Prefer Not to Answer"
      ]'
  }}
  {{> form_question
      title="Media Consent (Required)"
      description="I authorize Treasure Hacks to use photographs and/or video footage of me from this event for marketing materials and/or social media."
      input_name="media_consent"
      checkbox=true
      min="1"
      options='[{"text":"I agree","value":"1"}]'
      error_text="This question is required"
  }}
  {{!-- {{#>form_question
      title="Frequently Asked Questions"
      custom=true
  }}
    {{#*inline "content"}}
    <ul id="form-faq-list">
      <li>Can I join even though I have no experience in coding?<ul>
        <li>Yes, and we provide resources specifically for those who are new to programming</li>
      </ul></li>

      <li>Does it cost money?<ul>
        <li>No</li>
      </ul></li>

      <li>Who receives swag and prizes?<ul>
        <li>Anyone who turns in a non-empty project to Devpost</li>
      </ul></li>

      <li>What is the Theme?<ul>
        <li>AI and Blockchain</li>
      </ul></li>

      <li>Where will we be turning in projects?<ul>
        <li>Devpost (link will be in the discord)</li>
        <li>You will need a short description and your code on GitHub.</li>
        <li>A video is not strictly required, but will help significantly with your project’s scoring</li>
      </ul></li>

      <li>When can we start coding?<ul>
        <li>When the event starts: <time datetime="2023-04-28T23:00:00.000Z" data-description="The starting time of the hackathon">April 28th at 4:00PM Pacific Time</time></li>
        <li>Any use of premade or previously-created code is not allowed.</li>
        <li>Packages, APIs, and open-source code libraries are allowed.</li>
        <li>If you are unsure about sometime, ask in the #questions chat in discord</li>
      </ul></li>

      <li>What coding language can I use?<ul>
        <li>Any language is fine</li>
      </ul></li>

      <li>Can we submit our project to multiple hackathons?<ul>
        <li>Yes, but for our hackathon, you can only work on it during our hacking period</li>
        <li>Our hacking period starts at <time datetime="2023-04-28T23:00:00.000Z" data-description="The starting time of the hackathon">April 28th at 4:00PM Pacific Time</time>
          and ends at <time datetime="2023-04-30T06:59:00.000Z" data-description="The hackathon submission deadline">April 29th at 11:59PM Pacific Time</time></li>
      </ul></li>

      <li>What do I do once I find my team?<ul>
        <li>Once you have your team together, sign up on the devpost</li>
      </ul></li>
    </ul>
    {{/inline}}
  {{/form_question}} --}}
  {{!-- {{> form_question
      title="Age"
      description="MLH needs this data for eligibility purposes, as some codes are only available to hackers 18+"
      input_type="number" number=true
      input_name="age"
      placeholder="Age"
      textarea=false
      required=true
  }} --}}
  {{> form_question
      title="Would you like to receive emails from us about sponsored opportunities and free resources?"
      description="Your email will not be given to our sponsors."
      radio=true
      input_name="sponsor_emails"
      options='[
        {"text":"Yes","value":"1"},
        {"text":"No","value":"0"}
      ]'
      required="true"
  }}
  {{> form_question
      title="How prepared do you feel for the industry, on a scale from 1 to 7?"
      description="1 = not at all, 4 = somewhat, 7 = very prepared"
      input_type="number" number=true
      input_name="industry_readiness"
      placeholder="2"
      min="1"
      max="7"
      required=true
      error_text="Enter a number between 1 and 7"
  }}
  {{> form_question
      title="How much does your school assist you in improving your communication skills, on a scale from 1 to 7?"
      description="1 = not at all, 4 = somewhat, 7 = a lot"
      input_type="number" number=true
      input_name="communication_rating"
      placeholder="3"
      min="1"
      max="7"
      required=true
      error_text="Enter a number between 1 and 7"
  }}
  {{> form_question
      title="Attendance Agreements"
      description=""
      input_name="attendance_agreement"
      checkbox=true
      min="2"
      options='[
        {"text":"I understand that because there is limited space, I must email the organizers if I cannot attend the event.","value":"presence"},
        {"text":"I understand that I should bring a laptop, as we will be using it during the pitch competition.","value":"laptop"}
      ]'
      error_text="Please confirm all of the following"
  }}
  <input type="hidden" id="referrer-input" name="referrer"> {{!-- For redirecting back with errors --}}
  <input type="hidden" id="ref-param-input" name="ref_source"> {{!-- For ?ref params --}}
  
  <input type="submit" value="Submit">
</form>
<script defer src="script.js"></script>
{{!-- <script defer src="autocomplete.js"></script> --}}
