<form action="{{REGISTRATION_SUBMISSION_URL}}" method="POST" enctype="multipart/form-data">
  <div class="item-container header-image-container"><img src="banner.png" alt="Cause Hacks Banner" width="640" height="160"></div>
  <div class="item-container header">
    <h1>Cause Hacks Registration</h1>
    <p>Thanks for your interest in Cause Hacks! Please note that since this is an in-person event, there is limited space available.<br><br>
      Applications will be evaluated on a rolling basis, providing a good opportunity for acceptance as long as spaces are open.
      If you have any questions, please contact us at <a href="mailto:team@treasurehacks.org">team@treasurehacks.org</a>.<br><br>
      Check out our social media:
      <ul>
        <li>Website: <a target="_blank" href="https://cause.treasurehacks.org/">https://cause.treasurehacks.org/</a><br></li>
        <li>YouTube: <a target="_blank" href="https://youtube.com/@treasurehacks">https://youtube.com/@treasurehacks</a><br></li>
        <li>Instagram: <a target="_blank" href="https://instagram.com/treasure_hacks">https://instagram.com/treasure_hacks</a><br></li>
        <li>LinkedIn: <a target="_blank" href="https://www.linkedin.com/company/treasure-hacks/">https://www.linkedin.com/company/treasure-hacks/</a></li>
      </ul>
    </p>
  </div>
  {{> form_question
      title="First Name"
      description=""
      input_type="text"
      input_name="first_name"
      placeholder="First name"
      textarea=false
      required=true
  }}
  {{> form_question
      title="Last Name"
      description=""
      input_type="text"
      input_name="last_name"
      placeholder="Last name"
      textarea=false
      required=true
  }}
  {{> form_question
      title="Email Address"
      description=""
      input_type="email"
      input_name="email"
      placeholder="someone@example.com"
      textarea=false
      required=true
      pattern="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}"
      error_text="Please enter a valid email"
  }}
  {{> form_question
      title="Where did you hear about us?"
      input_name="referral"
      checkbox=true
      options='[
        "A student or colleague",
        "Through an organization/community",
        "Social media",
        "Cause San Diego",
        "Cause Conference"
      ]'
      min="1"
      other=true
      error_text="Please choose at least one option"
  }}
  {{> form_question
      title="I am entering this event as a..."
      input_name="registrant_type"
      radio=true
      options='[
        {"id":"rti-none","text":"Not selected","value":"none","hidden":true,"checked":true},
        {"id":"rti-student","text":"Student","value":"student"},
        {"id":"rti-nonprofit","text":"Nonprofit Organization","value":"nonprofit"},
        {"id":"rti-forprofit","text":"For-profit Organization","value":"for-profit"}
      ]'
      required=true
  }}
  {{#>form_question
      title="Follow-up Questions"
      description="Please answer the question above to see the appropriate follow-up questions"
      show_if="rti-none"
      custom=true
  }}{{#*inline "content"}}{{/inline}}
  {{/form_question}}
  {{> form_question
      title="What are your personal goals?"
      input_type="text"
      input_name="student_personal_goals"
      placeholder="I am looking to improve my ability to communicate"
      show_if="rti-student"
      textarea=true
      required=true
  }}
  {{> form_question
      title="Current/Highest Level of Education"
      description=""
      radio=true
      input_name="student_edu_level"
      required=true
      options='[
        "Less than Secondary / High School",
        "Secondary / High School",
        "Undergraduate University (2 year - community college or similar)",
        "Undergraduate University (3+ year)",
        "Graduate University (Masters, Professional, Doctoral, etc.)",
        "Code School / Bootcamp",
        "Other Vocational / Trade Program or Apprenticeship",
        "Post Doctorate",
        "I\'m currently not a student"
      ]'
      show_if="rti-student"
  }}
  {{> form_question
      title="What kind of student are you?"
      input_name="student_type"
      checkbox=true
      options='[
        {"text":"Computer Science","value":"computer-science"},
        {"text":"Business or Business-related (i.e. Marketing)","value":"business-related"}
      ]'
      min="1"
      other=true
      show_if="rti-student"
      error_text="Please choose at least one option"
  }}
  {{> form_question
      title="Why do you want to participate?"
      input_type="text"
      input_name="student_interest"
      placeholder="I am looking to improve my ability to communicate"
      show_if="rti-student"
      textarea=true
      required=true
  }}
  {{> form_question
      title="Which of the following best describes you? (optional)"
      description="This question is used ONLY to gauge our demographics and is not associated with your response."
      checkbox=true
      input_name="student_ethnicity"
      min="0"
      options='[
        "White/Caucasian",
        "Hispanic, Latino, or Spanish",
        "Black or African American",
        "Asian",
        "American Indian or Alaska Native",
        "Middle Eastern or North African",
        "Native Hawailan or Other Pacific Islander",
        "Some other race, ethnicity, or origin"
      ]'
      show_if="rti-student"
  }}
  {{> form_question
      title="Which of the following do you identify as? (optional)"
      description="This question is used ONLY to gauge our demographics and is not associated with your response."
      radio=true
      input_name="student_gender_identification"
      options='[
        {"text":"Not selected","value":"Prefer Not to Answer","hidden":true,"checked":true},
        "Female",
        "Male",
        "Transgender Female",
        "Transgender Male",
        "Gender Variant/Non-Conforming",
        "Not Listed",
        "Prefer Not to Answer"
      ]'
      show_if="rti-student"
  }}
  {{> form_question
      title="Would you attend a workshop for real estate and passive income in a future event?"
      input_type="text"
      input_name="student_passive_income"
      show_if="rti-student"
      options='[
        {"text":"Yes","value":"1"},
        {"text":"No","value":"0"}
      ]'
      jstype="boolean"
      radio=true
      required=true
  }}
  {{!-- END OF STUDENTS --}}
  {{> form_question
      title="Company Name"
      input_type="text"
      input_name="company_name"
      placeholder="Cause San Diego"
      show_if="rti-nonprofit,rti-forprofit"
      required=true
  }}
  {{> form_question
      title="Company Website"
      input_type="url"
      input_name="company_website"
      placeholder="https://www.causesandiego.org"
      show_if="rti-nonprofit,rti-forprofit"
      required=true
  }}
  {{> form_question
      title="Company Description"
      input_type="text"
      input_name="company_description"
      placeholder="Please include ___, ___, ___"
      show_if="rti-nonprofit,rti-forprofit"
      textarea=true
      required=true
  }}
  {{!-- END OF ORG QUESTIONS HERE --}}
  {{> form_question
      title="Which social issues are most important to you?"
      description="Select up to 3 issues"
      input_name="social_issues"
      checkbox=true
      options='[
        "Animal Advocacy",
        "Children and Youth Services",
        "Civil and Human Rights",
        "Community betterment",
        "Criminal Justice Reform",
        "Disaster Relief",
        "Drug Policy Reform",
        "Education",
        "Gender Equality",
        "Healthcare Access",
        "Homelessness",
        "Hunger Relief",
        "Immigrant and Refugee Rights",
        "LGBTQ+ Rights",
        "Mental Health Awareness",
        "Poverty Alleviation",
        "Racial Justice",
        "Sustainability"
      ]'
      show_if="rti-student,rti-nonprofit,rti-forprofit"
      min="1"
      max="3"
      other=true
      error_text="Please choose between 1 and 3 options"
  }}
  {{> form_question
      title="Would you like receive monthly emails about our organization?"
      input_type="newsletter"
      input_name="newsletter"
      show_if="rti-student,rti-nonprofit,rti-forprofit"
      options='[
        {"text":"Yes","value":"1"},
        {"text":"No","value":"0"}
      ]'
      jstype="boolean"
      radio=true
      required=true
  }}
  {{!-- END OF FORM HERE --}}
  {{!-- {{> form_question
      title="Discord Username"
      description="Enter a valid Discord Username (i.e. real_wumpus, TheRealWumpus#1209). It may follow the new or old username system, but cannot be your display name"
      input_type="text"
      input_name="discord_tag"
      placeholder="TheRealWumpus#1209"
      pattern=".{2,}#\d{4}|[a-z0-9\._]{2,}"
      textarea=false
      show_if="rti-student"
      required=true
      custom_validation="user_in_server"
      error_text="Please enter a valid discord username"
  }} --}}
  <input type="hidden" id="referrer-input" name="referrer">
  
  <input type="submit" value="Submit">
</form>
<script defer src="script.js"></script>
{{!-- <script defer src="autocomplete.js"></script> --}}
