<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/logos/image5.png">
  <link rel="stylesheet" href="map-styles.css">
  <title>Registrant Map</title>
  <script src="script.js" defer></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div class="map-container">
    <div class="cover">
      <img width="871" height="514" src="/images/map-preview.png" class="preview-cover"/>
      <div class="center">
        <p>Join students from all over the world in a collaborative community!</p>
        <p class="subtitle">(Click to view Participant Map)</p>
        <noscript><p class="js-warning-centered">(JavaScript required)</p></noscript>
      </div>
    </div>
    <div id="map"></div>
    <div class="participant-count" style="display: none;">Loading...</div>
  </div>
</body>
</html>
