<html>
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="v2.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description"
    content="Treasure Hacks is a recurring hackathon dedicated to creating a place where computer-science students throughout the nation can gain skills and forge personal connections.">
  <title>Treasure Hacks 2.0</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{> navigation_header }}
  <a id="mlh-trust-badge"
    href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=black"
    target="_blank"
  >
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-black.svg"
      alt="Major League Hacking 2022 Hackathon Season" style="width:100%">
  </a>
  <div class="wrapper homepage-wrapper">
    <!-- wrapper div starts -->
    <div class="padder"></div>
    <div class="padder"></div>
    <center>
      <div class="centered-popout background">
        <h1 style="font-size: 50px;">Treasure Hacks 2.0 - <span class="nowrap">March 2022</span></h1>
        <h2>Playlist</h2>
        <div class="center">
          <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8ZY83nB2xfIWFrTJD5idHF5UAZiR-yGo"
            title="YouTube video player" frameborder="0" allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </div>

        <h2>Overall Winners</h2>
        <div class="winners">
          {{#> v2_winner }}
            {{#*inline "name"}}NavAR{{/inline}}
            {{#*inline "image"}}navar.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/navar-i3o0fh{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
            {{#*inline "authors"}}Rupal and Mishra{{/inline}}
            {{#*inline "description"}}1st Place, Best College Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Onita{{/inline}}
            {{#*inline "image"}}onita.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/onita{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
            {{#*inline "authors"}}Luna, Ema, and Gaiyatri{{/inline}}
            {{#*inline "description"}}2nd Place, Best College Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Eatovate{{/inline}}
            {{#*inline "image"}}eatovate.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/diet-plan-website{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
            {{#*inline "authors"}}Joshith Gopidi{{/inline}}
            {{#*inline "description"}}3rd Place, Best College Hack{{/inline}}
          {{/v2_winner}}

          {{#> v2_winner }}
            {{#*inline "name"}}Levelhead{{/inline}}
            {{#*inline "image"}}levelhead.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/levelhead{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
            {{#*inline "authors"}}Ryan Cheng{{/inline}}
            {{#*inline "description"}}1st Place, Best High School Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Covision{{/inline}}
            {{#*inline "image"}}covision.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/cov-predict{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
            {{#*inline "authors"}}Aarush, Jonathan, and Paul{{/inline}}
            {{#*inline "description"}}2nd Place, Best High School Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Powerline{{/inline}}
            {{#*inline "image"}}powerline.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/powerline{{/inline}}
            {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
            {{#*inline "authors"}}Juan and Sebastian{{/inline}}
            {{#*inline "description"}}3rd Place, Best High School Hack{{/inline}}
          {{/v2_winner}}
        </div>

        <h2>Category Winners</h2>
        <div class="winners">
          {{#> v2_winner }}
            {{#*inline "name"}}Peacemakers{{/inline}}
            {{#*inline "image"}}peacemakers.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/peace-makers{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/most-aesthetically-pleasing.png">{{/inline}}
            {{#*inline "authors"}}Satish Garg{{/inline}}
            {{#*inline "description"}}Winner, Best Aesthetics{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Eatovate{{/inline}}
            {{#*inline "image"}}eatovate.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/diet-plan-website{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/most-aesthetically-pleasing.png">{{/inline}}
            {{#*inline "authors"}}Joshith Gopidi{{/inline}}
            {{#*inline "description"}}Runner-Up, Best Aesthetics{{/inline}}
          {{/v2_winner}}

          {{#> v2_winner }}
            {{#*inline "name"}}Trackeru{{/inline}}
            {{#*inline "image"}}trackeru.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/trackeru{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/category-twilio.png">{{/inline}}
            {{#*inline "authors"}}Arya, Prerana, and Lavanya{{/inline}}
            {{#*inline "description"}}Winner, Most Creative Use of Twilio{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Whispering Hearts{{/inline}}
            {{#*inline "image"}}whispering-hearts.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/aaa-0xeaz8{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/category-abinbev.png">{{/inline}}
            {{#*inline "authors"}}Jeevesh &amp; 3 others{{/inline}}
            {{#*inline "description"}}Winner, Cheers for AB InBev{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}I am Here{{/inline}}
            {{#*inline "image"}}i-am-here.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/i-am-here-urnhki{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/category-deso.png">{{/inline}}
            {{#*inline "authors"}}Gauravjeet and Rudransh{{/inline}}
            {{#*inline "description"}}Deso Hack Winner, High School Duo Runner-Up{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Powerline{{/inline}}
            {{#*inline "image"}}powerline.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/powerline{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/category-auth0.png">{{/inline}}
            {{#*inline "authors"}}Juan and Sebastian{{/inline}}
            {{#*inline "description"}}Auth0 Winner, High school Duo Winner{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Card Central{{/inline}}
            {{#*inline "image"}}card-central.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/card-central{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/category-domain.png">{{/inline}}
            {{#*inline "authors"}}Alan, Kevin, and Ella{{/inline}}
            {{#*inline "description"}}Winner, Best domain name from Domain.com{{/inline}}
          {{/v2_winner}}

          {{#> v2_winner }}
            {{#*inline "name"}}Levelhead{{/inline}}
            {{#*inline "image"}}levelhead.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/levelhead{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/best-solo.png">{{/inline}}
            {{#*inline "authors"}}Ryan Cheng{{/inline}}
            {{#*inline "description"}}Winner, Best High School Solo Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Project Pong{{/inline}}
            {{#*inline "image"}}project-pong.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/project-pong{{/inline}}
            {{#*inline "icon"}}<img class="winner-category-icon" src="/images/icons/best-solo.png">{{/inline}}
            {{#*inline "authors"}}Favour Adekola{{/inline}}
            {{#*inline "description"}}Runner-Up, Best High School Solo Hack{{/inline}}
          {{/v2_winner}}
        </div>

        <hr />
        <center>
          <h2>Sponsors</h2>
        </center>
        <div class="row">
          <div class="item">
            <center>
              <a title="Echo3D" href="https://www.echo3d.co/">
                <img src="/images/sponsors/echo3d.png" class="sponsor diamond-tier" width="350px">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Repl" href="https://www.replit.com/">
                <img src="/images/sponsors/replit.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="HyperX Gaming" href="https://www.hyperxgaming.com/">
                <img src="/images/sponsors/hyperx.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Qoom" href="https://www.qoom.io">
                <img src="/images/sponsors/qoom.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Sashido" href="https://www.sashido.io">
                <img src="/images/sponsors/sashido_fullsize.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Interview Cake" href="https://interviewcake.com">
                <img src="/images/sponsors/interview_cake.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Coil" href="https://coil.com">
                <img src="/images/sponsors/coil.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Egghead" href="https://egghead.io">
                <img src="/images/sponsors/egghead.png" class="sponsor diamond-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Underground Printing" href="https://www.undergroundshirts.com/">
                <img src="/images/sponsors/underground_printing.png" class="sponsor gold-tier" width="350px">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Sticker Giant" href="https://stickergiant.com/">
                <img src="/images/sponsors/sticker_giant.png" class="sponsor silver-tier" width="350px">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="JDoodle" href="https://www.jdoodle.com">
                <img src="/images/sponsors/jdoodle.png" class="sponsor silver-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Goliath Automation and Robotics" href="https://automationroboticsarduino.com/">
                <img src="/images/sponsors/goliath_ar.png" class="sponsor silver-tier" width="350px">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="AoPS" href="https://www.artofproblemsolving.com">
                <img src="/images/sponsors/aops.png" class="sponsor bronze-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="GiveMyCertificate" href="https://givemycertificate.com/">
                <img src="/images/sponsors/givemycert.png" class="sponsor bronze-tier">
              </a>
            </center>
          </div>
        </div>

        <!--
          <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">1st Place: Adventi</p></div>
          <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline">2nd Place: Code_Decoder</p></div>
          <div><i class="fa fa-trophy" style="color: var(--bronze-primary)"></i><p style="display: inline">3rd Place: ATLMUSE</p></div>
          <div><i class="fa fa-thumbs-up" style="color: var(--green-primary)"></i><p style="display: inline">Most Helpful Award: Milo Banks</p></div>
          <div><i class="fa fa-users" style="color: var(--green-primary)"></i><p style="display: inline">Honorable Mentions: Research Finder, Task Captain, Block Push, 2D Adventure, Accurate, Natura, Medi-Go</p></div>
          <div class="flex-grid">
            
            <div>
              <h3>Best Solo Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Task Captain</p></div>
            </div>
            <div>
              <h3>Best Duo Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Adventi</p></div>
            </div>
            <div>
              <h3>Best Aesthetic</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Research Finder</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline">Runner-Up: Code Decoder</p></div>
            </div>
            <div>
              <h3>Best Website (Mini Event)</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Sahil Jain and Yatin Manuel</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline">Runner-Up: Lily DeHaven and Vincent Aquino</p></div>
            </div>
            <div>
              <h3>Capture the Flag</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Matthew Chak</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline">Runner-Up: Sahil Jain</p></div>
            </div>
            <div>
              <h3>Best Qoom Hack</h3>
              <div><i class="fa fa-trophy" style="color: var(--gold-primary)"></i><p style="display: inline">Winner: Block Push</p></div>
              <div><i class="fa fa-trophy" style="color: var(--silver-primary)"></i><p style="display: inline">Runner-Up: Readit</p></div>
              <div><i class="fa fa-trophy" style="color: var(--bronze-primary)"></i><p style="display: inline">Runner-Up: Adventure Finder</p></div>
            </div>
            -->
          <br>
          <br>
      </div>
  </div>
  </center>

  {{> footer }}
  </div>
  <script src="/main.js"></script>
  <script src="script.js"></script>
</body>
</html>
