<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="past-events.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Check out the winners from Treasure Hacks 2.0, a hackathon that took place in March 2022!">
  <title>Treasure Hacks 2.0</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{> navigation_header }}
  <a id="mlh-trust-badge"
    href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=black"
    target="_blank"
  >
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-black.svg"
      alt="Major League Hacking 2022 Hackathon Season" style="width:100%">
  </a>
  <div class="wrapper main-content">
    <!-- wrapper div starts -->
    <div class="padder"></div>
    <div class="padder"></div>
    <center>
      <div class="centered-popout background">
        <h1 style="font-size: 50px;">Treasure Hacks 2.0 - <span class="nowrap">March 2022</span></h1>
        <h2>Playlist</h2>
        <div class="center">
          <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8ZY83nB2xfIWFrTJD5idHF5UAZiR-yGo"
            title="YouTube video player" frameborder="0" allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </div>

        <h2>Overall Winners</h2>
        <div class="cards-container">
          <div id="college-winners">
            {{#> v2_winner }}
              {{#*inline "name"}}NavAR{{/inline}}
              {{#*inline "image"}}navar.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/navar-i3o0fh{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Rupal and Mishra{{/inline}}
              {{#*inline "description"}}1st Place, Best College Hack{{/inline}}
            {{/v2_winner}}
            {{#> v2_winner }}
              {{#*inline "name"}}Onita{{/inline}}
              {{#*inline "image"}}onita.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/onita{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Luna, Ema, and Gaiyatri{{/inline}}
              {{#*inline "description"}}2nd Place, Best College Hack{{/inline}}
            {{/v2_winner}}
            {{#> v2_winner }}
              {{#*inline "name"}}Eatovate{{/inline}}
              {{#*inline "image"}}eatovate.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/diet-plan-website{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Joshith Gopidi{{/inline}}
              {{#*inline "description"}}3rd Place, Best College Hack{{/inline}}
            {{/v2_winner}}
          </div>
          <div id="highschool-winners">
            {{#> v2_winner }}
              {{#*inline "name"}}Levelhead{{/inline}}
              {{#*inline "image"}}levelhead.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/levelhead{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Ryan Cheng{{/inline}}
              {{#*inline "description"}}1st Place, Best High School Hack{{/inline}}
            {{/v2_winner}}
            {{#> v2_winner }}
              {{#*inline "name"}}Covision{{/inline}}
              {{#*inline "image"}}covision.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/cov-predict{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Aarush, Jonathan, and Paul{{/inline}}
              {{#*inline "description"}}2nd Place, Best High School Hack{{/inline}}
            {{/v2_winner}}
            {{#> v2_winner }}
              {{#*inline "name"}}Powerline{{/inline}}
              {{#*inline "image"}}powerline.jpeg{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/powerline{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Juan and Sebastian{{/inline}}
              {{#*inline "description"}}3rd Place, Best High School Hack{{/inline}}
            {{/v2_winner}}
          </div>
        </div>

        <h2>Category Winners</h2>
        <div class="cards-container">
          {{#> v2_winner }}
            {{#*inline "name"}}Peacemakers{{/inline}}
            {{#*inline "image"}}peacemakers.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/peace-makers{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/most-aesthetically-pleasing.png" alt="Best Aesthetics">{{/inline}}
            {{#*inline "authors"}}Satish Garg{{/inline}}
            {{#*inline "description"}}Winner, Best Aesthetics{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Eatovate{{/inline}}
            {{#*inline "image"}}eatovate.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/diet-plan-website{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/most-aesthetically-pleasing.png" alt="Best Aesthetics">{{/inline}}
            {{#*inline "authors"}}Joshith Gopidi{{/inline}}
            {{#*inline "description"}}Runner-Up, Best Aesthetics{{/inline}}
          {{/v2_winner}}

          {{#> v2_winner }}
            {{#*inline "name"}}Trackeru{{/inline}}
            {{#*inline "image"}}trackeru.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/trackeru{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/category-twilio.png" alt="Most Creative Twilio Hack">{{/inline}}
            {{#*inline "authors"}}Arya, Prerana, and Lavanya{{/inline}}
            {{#*inline "description"}}Winner, Most Creative Use of Twilio{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Whispering Hearts{{/inline}}
            {{#*inline "image"}}whispering-hearts.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/aaa-0xeaz8{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/category-abinbev.png" alt="Best AB InBev Hack">{{/inline}}
            {{#*inline "authors"}}Jeevesh &amp; 3 others{{/inline}}
            {{#*inline "description"}}Winner, Cheers for AB InBev{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}I am Here{{/inline}}
            {{#*inline "image"}}i-am-here.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/i-am-here-urnhki{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/category-deso.png" alt="Best DeSo Hack">{{/inline}}
            {{#*inline "authors"}}Gauravjeet and Rudransh{{/inline}}
            {{#*inline "description"}}Deso Hack Winner, High School Duo Runner-Up{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Powerline{{/inline}}
            {{#*inline "image"}}powerline.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/powerline{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/category-auth0.png" alt="Best Auth0 Hack">{{/inline}}
            {{#*inline "authors"}}Juan and Sebastian{{/inline}}
            {{#*inline "description"}}Auth0 Winner, High school Duo Winner{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Card Central{{/inline}}
            {{#*inline "image"}}card-central.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/cards-central{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/category-domain.png" alt="Best Domain from Domain.com">{{/inline}}
            {{#*inline "authors"}}Alan, Kevin, and Ella{{/inline}}
            {{#*inline "description"}}Winner, Best domain name from Domain.com{{/inline}}
          {{/v2_winner}}

          {{#> v2_winner }}
            {{#*inline "name"}}Levelhead{{/inline}}
            {{#*inline "image"}}levelhead.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/levelhead{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/best-solo.png" alt="Best High School Solo Hack">{{/inline}}
            {{#*inline "authors"}}Ryan Cheng{{/inline}}
            {{#*inline "description"}}Winner, Best High School Solo Hack{{/inline}}
          {{/v2_winner}}
          {{#> v2_winner }}
            {{#*inline "name"}}Project Pong{{/inline}}
            {{#*inline "image"}}project-pong.jpeg{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/project-pong{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/v2-categories/best-solo.png" alt="Best High School Solo Hack">{{/inline}}
            {{#*inline "authors"}}Favour Adekola{{/inline}}
            {{#*inline "description"}}Runner-Up, Best High School Solo Hack{{/inline}}
          {{/v2_winner}}
        </div>

        <hr />
        <center>
          <h2>Sponsors</h2>
        </center>
        <div class="sponsor-grid">
          <div class="item">
            <center>
              <a target="_blank" title="Echo3D" href="https://www.echo3d.co/">
                <img loading="lazy" src="/images/sponsors/echo3d.png" class="sponsor diamond-tier" alt="Echo3D logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Axure" href="https://www.axure.com/">
                <img loading="lazy" src="/images/sponsors/axure.jpg" class="sponsor diamond-tier" alt="Axure logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Wolfram Language" href="https://www.wolframalpha.com/">
                <img loading="lazy" src="/images/sponsors/wolfram.png" class="sponsor diamond-tier" alt="Wolfram logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="1Password" href="https://www.1password.com/">
                <img loading="lazy" src="/images/sponsors/1password.png" class="sponsor diamond-tier" alt="1Password logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Interview Cake" href="https://interviewcake.com">
                <img loading="lazy" src="/images/sponsors/interview_cake.png" class="sponsor diamond-tier" alt="Interview Cake logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="GeeksForGeeks" href="https://www.geeksforgeeks.org/">
                <img loading="lazy" src="/images/sponsors/geeksforgeeks.jpg" class="sponsor diamond-tier" alt="GeeksForGeeks logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Advanced Risk Management" href="https://www.managearisk.com/">
                <img loading="lazy" src="/images/sponsors/advancedriskmanagement.png" class="sponsor diamond-tier" alt="Advanced Risk Management logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Leading Learners" href="https://www.leading-learners.com/">
                <img loading="lazy" src="/images/sponsors/leading_learners.jpg" class="sponsor gold-tier" alt="Leading learners logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a title="Inspirit AI" href="https://www.inspiritai.com/">
                <img src="/images/sponsors/inspirit-ai.webp" class="sponsor silver-tier">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="JDoodle" href="https://www.jdoodle.com">
                <img loading="lazy" src="/images/sponsors/jdoodle.png" class="sponsor silver-tier" alt="JDoodle logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Goliath Automation and Robotics" href="https://automationroboticsarduino.com/">
                <img loading="lazy" src="/images/sponsors/goliath_ar.png" class="sponsor silver-tier" alt="Goliath AR logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Sticker Giant" href="https://stickergiant.com/">
                <img loading="lazy" src="/images/sponsors/sticker_giant.png" class="sponsor silver-tier" alt="Sticker Giant logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="Balsamiq" href="https://balsamiq.com/">
                <img loading="lazy" src="/images/sponsors/balsamiq.png" class="sponsor bronze-tier" alt="Balsamiq logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="ClickUp" href="https://clickup.com/about">
                <img loading="lazy" src="/images/sponsors/clickup.png" class="sponsor bronze-tier" alt="Clickup logo">
              </a>
            </center>
          </div>
          <div class="item">
            <center>
              <a target="_blank" title="GiveMyCertificate" href="https://givemycertificate.com/">
                <img loading="lazy" src="/images/sponsors/givemycert.png" class="sponsor bronze-tier" alt="Give My Certificate logo">
              </a>
            </center>
          </div>
        </div>
        <hr>
        <center><h2>Judges</h2><br></center>
        <div class="row">
          <div class="flex names-container">
            <div>
              <img class="person" src="/images/people/mikle-alpha.jpg"/>
              <h3>Mikle Alpha</h3>
              <div class="name-title">Senior Flutter Developer at Holland &amp; Barrett</div>
            </div>
            <div>
              <img class="person" src="/images/people/brendan-falk.png"/>
              <h3>Brendan Falk</h3>
              <div class="name-title">Co-founder and CEO at Fig</div>
            </div>
            <div>
              <img class="person" src="/images/people/galicia-gordon.jpeg"/>
              <h3>Galicia Gordon</h3>
              <div class="name-title">Founder of Leading Learners</div>
            </div>
            <div>
              <img class="person" src="/images/people/vitalii-honcharuk.jpg"/>
              <h3>Vitalii Honcharuk</h3>
              <div class="name-title">Software Engineer at Monster Lead Group</div>
            </div>
            <div>
              <img class="person" src="/images/people/avinash-koshal.png"/>
              <h3>Avinash Koshal</h3>
              <div class="name-title">Cloud Support Associate at AWS</div>
            </div>
            <div>
              <img class="person" src="/images/people/Bill-Kreutinger.png"/>
              <h3>Bill Kreutinger</h3>
              <div class="name-title">Account Manager at Future Electronics</div>
            </div>
            <div>
              <img class="person" src="/images/people/viachaslau-matsukevich.jpg"/>
              <h3>Viachaslau Matsukevich</h3>
              <div class="name-title">Cloud Solutions Architect at OOO CTDev</div>
            </div>
            <div>
              <img class="person" src="/images/people/maksym-mostovyi.jpeg"/>
              <h3>Maksym Mostovyi</h3>
              <div class="name-title">Front-End Developer at Rain</div>
            </div>
            <div>
              <img class="person" src="/images/people/Alexey-Shepelev.png"/>
              <h3>Alexey Shepelev</h3>
              <div class="name-title">Senior Ruby on Rails Developer</div>
            </div>
          </div>
        </div>
        <hr>
        <center><h2>Workshop Hosts</h2><br></center>
        <div class="row">
          <div class="flex names-container">
            <div>
              <img class="person" src="/images/people/fatima-taj.jpeg"/>
              <h3>Fatima Taj</h3>
              <div class="name-title">Software Engineer at Yelp</div>
            </div>
            <div>
              <img class="person" src="/images/people/person-placeholder.jpg"/>
              <h3>Avinash Upadhyaya</h3>
              <div class="name-title">DevOps Engineer at Deloitte</div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
  </div>
  </center>

  {{> footer }}
  </div>
  <script src="/main.js"></script>
  <script src="script.js"></script>
</body>
</html>
