<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="past-events.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Check out Treasure Hacks 3.5, a hackathon that took place in January 2023!">
  <title>Treasure Hacks 3.5</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{> navigation_header }}
  <div class="wrapper main-content">
    <!-- wrapper div starts -->
    <div class="padder"></div>
    <div class="padder"></div>
    <center>
      <div class="centered-popout background">
        <h1 style="font-size: 50px;">Treasure Hacks 3.5 - <span class="nowrap">April 2023</span></h1>
        <h2>Playlist</h2>
        <div class="center">
          <iframe src="https://www.youtube-nocookie.com/embed/videoseries?&start=185&list=PL8ZY83nB2xfLnx87xMxRUHP9fehu7dE9A"
            title="YouTube video player" frameborder="0" allowfullscreen
            allow="autoplay; clipboard-write; picture-in-picture"
          ></iframe>
        </div>

        <h2>Overall Winners</h2>
        <div class="cards-container">
          <div>
            {{#> v3.5_winner }}
              {{#*inline "name"}}Gatery{{/inline}}
              {{#*inline "image"}}gatery.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/gatery{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Freddy González{{/inline}}
              {{#*inline "description"}}1st Place, Best Blockchain Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}MintBuddy{{/inline}}
              {{#*inline "image"}}mintbuddy.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/tba-ryu6en{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Josh, Rajab, David, &amp; William{{/inline}}
              {{#*inline "description"}}2nd Place, Best Blockchain Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}Code:Star{{/inline}}
              {{#*inline "image"}}code-star.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/code-star{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Aryan K and Viz D{{/inline}}
              {{#*inline "description"}}3rd Place, Best Blockchain Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}Sight Sense{{/inline}}
              {{#*inline "image"}}sight-sense.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/sightsense{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Arihan, Vijay, and Tejas{{/inline}}
              {{#*inline "description"}}1st Place, Best Generative AI Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}LingoLift{{/inline}}
              {{#*inline "image"}}lingolift.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/lingolift{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Lan Nguyen and Leah Uriarte{{/inline}}
              {{#*inline "description"}}2nd Place, Best Generative AI Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}Test-Maker Pro{{/inline}}
              {{#*inline "image"}}testmaker-pro.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/test-maker-pro{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Eesha Rao{{/inline}}
              {{#*inline "description"}}3rd Place, Best Generative AI Hack{{/inline}}
            {{/v3.5_winner}}
            {{#> v3.5_winner }}
              {{#*inline "name"}}Exam Gazette{{/inline}}
              {{#*inline "image"}}exam-gazette.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/examgazette{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Vishnu, Tejas, and Tushar{{/inline}}
              {{#*inline "description"}}Winner, Best General Hack{{/inline}}
            {{/v3.5_winner}}
          </div>
        </div>

        <h2>Category Winners</h2>
        <div class="cards-container">
          {{#> v3.5_winner }}
            {{#*inline "name"}}Entropic Dao{{/inline}}
            {{#*inline "image"}}entropic-dao.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/entropic-dao{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-solo.png" alt="Best Solo">{{/inline}}
            {{#*inline "authors"}}Laa Shad{{/inline}}
            {{#*inline "description"}}Best Blockchain Solo Hack{{/inline}}
          {{/v3.5_winner}}
          {{#> v3.5_winner }}
            {{#*inline "name"}}KleanKitchen{{/inline}}
            {{#*inline "image"}}klean-kitchen.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/kleankitchen{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-solo.png" alt="Best Solo">{{/inline}}
            {{#*inline "authors"}}Dhyan Murthy{{/inline}}
            {{#*inline "description"}}Best Generative AI Solo Hack{{/inline}}
          {{/v3.5_winner}}
          {{#> v3.5_winner }}
            {{#*inline "name"}}Sight Sense{{/inline}}
            {{#*inline "image"}}sight-sense.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/sightsense{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-aesthetics.png" alt="Best Pitch">{{/inline}}
            {{#*inline "authors"}}Arihan, Vijay, and Tejas{{/inline}}
            {{#*inline "description"}}Winner, Best Pitch Award{{/inline}}
          {{/v3.5_winner}}

          {{#> v3.5_winner }}
            {{#*inline "name"}}Gatery{{/inline}}
            {{#*inline "image"}}gatery.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/gatery{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/verbwire.png" alt="Best Use of Verbwire">{{/inline}}
            {{#*inline "authors"}}Freddy González{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Verbwire API{{/inline}}
          {{/v3.5_winner}}
          {{#> v3.5_winner }}
            {{#*inline "name"}}MintBuddy{{/inline}}
            {{#*inline "image"}}mintbuddy.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/tba-ryu6en{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/verbwire.png" alt="Best Use of Verbwire">{{/inline}}
            {{#*inline "authors"}}Josh, Rajab, David, &amp; William{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Verbwire API{{/inline}}
          {{/v3.5_winner}}
          {{#> v3.5_winner }}
            {{#*inline "name"}}LevelUp{{/inline}}
            {{#*inline "image"}}levelup.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/levelup-41mvnu{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/verbwire.png" alt="Best Use of Verbwire">{{/inline}}
            {{#*inline "authors"}}Riya James{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Verbwire API{{/inline}}
          {{/v3.5_winner}}
        </div>

        <hr />
        <center>
          <h2>Sponsors</h2>
        </center>
        <div class="sponsor-grid">
          {{#> sponsor }}
            {{#*inline "name"}}Verbwire{{/inline}}
            {{#*inline "image"}}verbwire.webp{{/inline}}
            {{#*inline "link"}}https://www.verbwire.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Wolfram{{/inline}}
            {{#*inline "image"}}wolfram.png{{/inline}}
            {{#*inline "link"}}https://www.wolframalpha.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}GiveMyCertificate{{/inline}}
            {{#*inline "image"}}givemycert.png{{/inline}}
            {{#*inline "link"}}https://givemycertificate.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Interview Cake{{/inline}}
            {{#*inline "image"}}interview_cake.png{{/inline}}
            {{#*inline "link"}}https://interviewcake.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}JDoodle{{/inline}}
            {{#*inline "image"}}jdoodle.webp{{/inline}}
            {{#*inline "link"}}https://www.jdoodle.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Taskade{{/inline}}
            {{#*inline "image"}}taskade.webp{{/inline}}
            {{#*inline "link"}}https://www.taskade.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Gen XYZ{{/inline}}
            {{#*inline "image"}}xyz.webp{{/inline}}
            {{#*inline "link"}}https://gen.xyz/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Uizard{{/inline}}
            {{#*inline "image"}}uizard.webp{{/inline}}
            {{#*inline "link"}}https://uizard.io/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
        </div>
        <hr>
        <center><h2>A Special Thanks to Our Helpers</h2><br></center>
        <div class="row">
          <div class="flex helpers-container">
            {{> v3_person
              name="Nolan Chai"
              img="nolan-chai.png"
              title="Undergraduate Student at UCSD"
              roles='["Workshop Host"]'
            }}
            {{> v3_person
              name="Paarth Chothani"
              img="paarth-chothani.jpg"
              title="Senior Softare Engineer at Uber"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Johanna Feick"
              img="johanna-feick.jpg"
              title="Product Manager & VP at VentureLabs"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Ainur Gainetdinov"
              img="ainur-gainetdinov.png"
              title="Deep Learning & Computer Vision Engineer at VicMan"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Kari Groszewska"
              img="kari-groszewska.png"
              title="Coach at Major League Hacking"
              roles='["Workshop Host"]'
            }}
            {{> v3_person
              name="Max Kalik"
              img="max-kalik.jpg"
              title="Senior Software Engineer at Triumph Labs"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Dmitry Khorev"
              img="dmitry-khorev.jpg"
              title="Senior Software Engineer at Mero"
              roles='["Judge", "Mentor"]'
            }}
            {{> v3_person
              name="Viachaslau Matsukevich"
              img="viachaslau-matsukevich.jpg"
              title="Cloud Solutions Architect at Altoros"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Samy Melanie"
              img="samy-melanie.jpg"
              title="CTO and Founder at Eden AI"
              roles='["Workshop Host"]'
            }}
            {{> v3_person
              name="Alex Orona"
              img="alex-orona.jpg"
              title="Data Scientist at Keys"
              roles='["Workshop Host"]'
            }}
            {{> v3_person
              name="Girri Palaniyapan"
              img="girri-palaniyapan.jpg"
              title="Founder at Nivi.ai"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Chetan Patil"
              img="chetan-patil.jpg"
              title="Staff Software Engineer at Google"
              roles='["Mentor"]'
            }}
            {{> v3_person
              name="Pramod Shashidhara"
              img="pramod-shashidhara.jpg"
              title="Senior Engineering Manager at Chainlink Labs"
              roles='["Mentor"]'
            }}
            {{> v3_person
              name="Konstantin Telnoi"
              img="konstantin-telnoi.jpeg"
              title="Senior Backend Developer at Simple"
              roles='["Judge"]'
            }}
            {{> v3_person
              name="Steven Van Vaerenbergh"
              img="steven-van-vaerenbergh.jpg"
              title="ML Researcher at Universidad de Cantabria"
              roles='["Workshop Host"]'
            }}
            {{> v3_person
              name="Luming Yang"
              img="luming-yang.jpg"
              title="Business Intelligence Analyst at Washington Post"
              roles='["Mentor"]'
            }}

          </dv>
        </div>
        <br>
        <br>
      </div>
  </div>
  </center>

  {{> footer }}
  </div>
  <script src="/main.js"></script>
  <script src="script.js"></script>
</body>
</html>
