<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="past-events.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Check out Treasure Hacks 3.0, a hackathon that took place in January 2023!">
  <title>Treasure Hacks 3.0</title>
  <meta name="theme-color" content="#111">
  {{> site_icons }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{> navigation_header }}
  <div class="wrapper main-content">
    <!-- wrapper div starts -->
    <div class="padder"></div>
    <div class="padder"></div>
    <center>
      <div class="centered-popout background">
        <h1 style="font-size: 50px;">Treasure Hacks 3.0 - <span class="nowrap">January 2023</span></h1>
        <h2>Playlist</h2>
        <div class="center">
          <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list=PL8ZY83nB2xfKmSvDPqk3pi5tnzZzHW1sF"
            title="YouTube video player" frameborder="0" allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </div>

        <h2>Overall Winners</h2>
        <div class="cards-container">
          <div id="college-winners">
            {{#> v3_winner }}
              {{#*inline "name"}}Roadmap Runner{{/inline}}
              {{#*inline "image"}}roadmap-runner.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/roadmaprunner{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Kedar and Siddhi{{/inline}}
              {{#*inline "description"}}1st Place, Best College Hack{{/inline}}
            {{/v3_winner}}
            {{#> v3_winner }}
              {{#*inline "name"}}JourneyGenie{{/inline}}
              {{#*inline "image"}}journeygenie.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/journeygenie{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Matthew &amp; 3 others{{/inline}}
              {{#*inline "description"}}2nd Place, Best College Hack{{/inline}}
            {{/v3_winner}}
            {{#> v3_winner }}
              {{#*inline "name"}}Nutrio{{/inline}}
              {{#*inline "image"}}nutrio.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/nutrio-qpyciv{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Khair, Ayush, Debaditya, and Anubhuti{{/inline}}
              {{#*inline "description"}}3rd Place, Best College Hack{{/inline}}
            {{/v3_winner}}
          </div>
          <div id="highschool-winners">
            {{#> v3_winner }}
              {{#*inline "name"}}Scispire{{/inline}}
              {{#*inline "image"}}scispire.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/scispire{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Alexandra Kim{{/inline}}
              {{#*inline "description"}}1st Place, Best High School Hack{{/inline}}
            {{/v3_winner}}
            {{#> v3_winner }}
              {{#*inline "name"}}Cave Generator{{/inline}}
              {{#*inline "image"}}cave-generator.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/cavegen{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy silver"></i>{{/inline}}
              {{#*inline "authors"}}Artem and Matviiuk{{/inline}}
              {{#*inline "description"}}2nd Place, Best High School Hack{{/inline}}
            {{/v3_winner}}
            {{#> v3_winner }}
              {{#*inline "name"}}QrTagger{{/inline}}
              {{#*inline "image"}}qrtagger.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/qrtagger{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy bronze"></i>{{/inline}}
              {{#*inline "authors"}}Xeretis Nándor{{/inline}}
              {{#*inline "description"}}3rd Place, Best High School Hack{{/inline}}
            {{/v3_winner}}
            {{#> v3_winner }}
              {{#*inline "name"}}Life Care{{/inline}}
              {{#*inline "image"}}life-care.webp{{/inline}}
              {{#*inline "link"}}https://devpost.com/software/life-care-m9v61b{{/inline}}
              {{#*inline "icon"}}<i class="fa fa-fw fa-trophy gold"></i>{{/inline}}
              {{#*inline "authors"}}Gustavo and Gui Mendes{{/inline}}
              {{#*inline "description"}}1st Place, Best Middle School Hack{{/inline}}
            {{/v3_winner}}
          </div>
        </div>

        <h2>Category Winners</h2>
        <div class="cards-container">
          {{#> v3_winner }}
            {{#*inline "name"}}Roadmap Runner{{/inline}}
            {{#*inline "image"}}roadmap-runner.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/roadmaprunner{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-aesthetics.png" alt="Best Aesthetics">{{/inline}}
            {{#*inline "authors"}}Kedar and Siddhi{{/inline}}
            {{#*inline "description"}}Best Aesthetics Winner, Best Duo Winner{{/inline}}
          {{/v3_winner}}
          {{#> v3_winner }}
            {{#*inline "name"}}CryptoMeter{{/inline}}
            {{#*inline "image"}}crypto-meter.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/crypto-buddies{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-aesthetics.png" alt="Best Aesthetics">{{/inline}}
            {{#*inline "authors"}}Will, Arjun, Affan, &amp; Hadi{{/inline}}
            {{#*inline "description"}}Runner-Up, Best Aesthetics{{/inline}}
          {{/v3_winner}}

          {{#> v3_winner }}
            {{#*inline "name"}}Toy Royale{{/inline}}
            {{#*inline "image"}}toy-royale.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/toy-royale{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/qoom.png" alt="Best Use of Qoom">{{/inline}}
            {{#*inline "authors"}}Vincent Aquino{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Qoom{{/inline}}
          {{/v3_winner}}
          {{#> v3_winner }}
            {{#*inline "name"}}Journey Genie{{/inline}}
            {{#*inline "image"}}journeygenie.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/journeygenie{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/conversational-ai.png" alt="Best Use of Conversational AI">{{/inline}}
            {{#*inline "authors"}}Matthew &amp; 3 others{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Conversational AI{{/inline}}
          {{/v3_winner}}
          {{#> v3_winner }}
            {{#*inline "name"}}NFTreasureHunt{{/inline}}
            {{#*inline "image"}}nftreasurehunt.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/nftreasurehunt{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/verbwire.png" alt="Best Use of Verbwire">{{/inline}}
            {{#*inline "authors"}}Joshua &amp; 2 others{{/inline}}
            {{#*inline "description"}}Winner, Best Use of Verbwire API{{/inline}}
          {{/v3_winner}}

          {{#> v3_winner }}
            {{#*inline "name"}}Scispire{{/inline}}
            {{#*inline "image"}}scispire.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/scispire{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-solo.png" alt="Best Overall Solo Hack">{{/inline}}
            {{#*inline "authors"}}Alexandra Kim{{/inline}}
            {{#*inline "description"}}Winner, Best Overall Solo Hack{{/inline}}
          {{/v3_winner}}
          {{#> v3_winner }}
            {{#*inline "name"}}QRTagger{{/inline}}
            {{#*inline "image"}}qrtagger.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/qrtagger{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-solo.png" alt="Best Overall Solo Hack">{{/inline}}
            {{#*inline "authors"}}Xeretis Nándor{{/inline}}
            {{#*inline "description"}}Runner-Up, Best Overall Solo Hack{{/inline}}
          {{/v3_winner}}
          {{#> v3_winner }}
            {{#*inline "name"}}Cave Generator{{/inline}}
            {{#*inline "image"}}cave-generator.webp{{/inline}}
            {{#*inline "link"}}https://devpost.com/software/cavegen{{/inline}}
            {{#*inline "icon"}}<img width="60" height="60" class="winner-category-icon" src="/images/icons/categories/best-duo.png" alt="Best Overall Duo Hack">{{/inline}}
            {{#*inline "authors"}}Artem and Matviiuk{{/inline}}
            {{#*inline "description"}}Runner-Up, Best Overall Duo Hack{{/inline}}
          {{/v3_winner}}
        </div>

        <hr />
        <center>
          <h2>Sponsors</h2>
        </center>
        <div class="sponsor-grid">
           {{#> sponsor }}
            {{#*inline "name"}}Wolfram Language{{/inline}}
            {{#*inline "image"}}wolfram.png{{/inline}}
            {{#*inline "link"}}https://www.wolframalpha.com/{{/inline}}
            {{#*inline "tier"}}diamond{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Digital Ocean{{/inline}}
            {{#*inline "image"}}digital-ocean.webp{{/inline}}
            {{#*inline "link"}}https://www.digitalocean.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Interview Cake{{/inline}}
            {{#*inline "image"}}interview_cake.png{{/inline}}
            {{#*inline "link"}}https://interviewcake.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Taskade{{/inline}}
            {{#*inline "image"}}taskade.webp{{/inline}}
            {{#*inline "link"}}https://www.taskade.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Verbwire{{/inline}}
            {{#*inline "image"}}verbwire.webp{{/inline}}
            {{#*inline "link"}}https://www.verbwire.com/{{/inline}}
            {{#*inline "tier"}}gold{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Applied Computing Foundation{{/inline}}
            {{#*inline "image"}}qoom-acf.webp{{/inline}}
            {{#*inline "link"}}https://www.applied-computing.org/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Axure{{/inline}}
            {{#*inline "image"}}axure.jpg{{/inline}}
            {{#*inline "link"}}https://www.axure.com/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Centered{{/inline}}
            {{#*inline "image"}}centered.webp{{/inline}}
            {{#*inline "link"}}https://www.centered.app/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Echo3D{{/inline}}
            {{#*inline "image"}}echo3d.png{{/inline}}
            {{#*inline "link"}}https://www.echo3d.com/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Qoom{{/inline}}
            {{#*inline "image"}}qoom.png{{/inline}}
            {{#*inline "link"}}https://www.qoom.io/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Replit{{/inline}}
            {{#*inline "image"}}replit.webp{{/inline}}
            {{#*inline "link"}}https://replit.com/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}SashiDo{{/inline}}
            {{#*inline "image"}}sashido_fullsize.png{{/inline}}
            {{#*inline "link"}}https://www.sashido.io/{{/inline}}
            {{#*inline "tier"}}silver{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}DevITjobs{{/inline}}
            {{#*inline "image"}}devit.webp{{/inline}}
            {{#*inline "link"}}https://devitjobs.uk/startup-jobs{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Gen XYZ{{/inline}}
            {{#*inline "image"}}xyz.webp{{/inline}}
            {{#*inline "link"}}https://gen.xyz/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}GiveMyCertificate{{/inline}}
            {{#*inline "image"}}givemycert.png{{/inline}}
            {{#*inline "link"}}https://automationroboticsarduino.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Goliath Automation and Robotics{{/inline}}
            {{#*inline "image"}}goliath_ar.png{{/inline}}
            {{#*inline "link"}}https://automationroboticsarduino.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}Interview Buddy{{/inline}}
            {{#*inline "image"}}interview-buddy.webp{{/inline}}
            {{#*inline "link"}}https://interviewbuddy.in/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
          {{#> sponsor }}
            {{#*inline "name"}}No Starch Press{{/inline}}
            {{#*inline "image"}}no-starch.webp{{/inline}}
            {{#*inline "link"}}https://nostarch.com/{{/inline}}
            {{#*inline "tier"}}bronze{{/inline}}
          {{/sponsor}}
        </div>
        <hr>
        <center><h2>Judges</h2><br></center>
        <div class="row">
          <div class="flex names-container">
            {{> v3_person
              name="Sambhav Jain"
              img="sambhav-jain.webp"
              title="Product Manager at Salesforce"
            }}
            {{> v3_person
              name="Michael Jia"
              img="michael-jia.png"
              title="Senior Product Manager at Scale AI"
            }}
            {{> v3_person
              name="Max Kalik"
              img="max-kalik.jpg"
              title="Software Engineer at Triumph Labs"
            }}
            {{> v3_person
              name="Alexander Kozhenkov"
              img="alexander-kozhenkov.png"
              title="Senior Software Engineer at Farel"
            }}
            {{> v3_person
              name="Viachaslau Matsukevich"
              img="viachaslau-matsukevich.jpg"
              title="Cloud Solutions Architect at Altoros"
            }}
            {{> v3_person
              name="Maksym Mostovyi"
              img="maksym-mostovyi.png"
              title="Software Engineer at Rain"
            }}
            {{> v3_person
              name="Phani Teja"
              img="phani-teja.jpeg"
              title="Senior Cloud Engineer at Stravaa"
            }}
          </div>
        </div>
        <hr>
        <center><h2>Workshop Hosts</h2><br></center>
        <div class="row">
          <div class="flex names-container">
            {{> v3_person
                name="Fatima Taj"
                img="fatima-taj.jpeg"
                title="Software Engineer at Yelp"
            }}
            {{> v3_person
              name="Avinash Upadhyaya"
              img="person-placeholder.jpg"
              title="DevOps Engineer at Deloitte"
            }}
          </div>
        </div>
        <br>
        <br>
      </div>
  </div>
  </center>

  {{> footer }}
  </div>
  <script src="/main.js"></script>
  <script src="script.js"></script>
</body>
</html>
